[2014-05-27 05:28] ins0 opened #1 "deleting all members not working"
currently deleting of all members won't work

[2014-05-27 05:30] ins0 opened #2 "squad icq messenger field allways 0"
leaving the icq field empty result in icq `0`

[2014-05-27 05:32] ins0 opened #3 "low squad logo quality"
squad logos are currently saved in a lower quality then uploaded

[2014-05-27 17:42] ins0 opened #4 "support transparent squad logos"
convert images to microsoft direct draw surface and then to arma paa file formats

[2014-05-31 17:18] #4 closed, assigned to nobody

[2014-05-31 17:18] #3 closed, assigned to nobody

[2014-06-02 11:55] #2 closed, assigned to nobody

[2014-06-04 22:03] #1 closed, assigned to nobody

[2014-06-04 22:06] ins0 opened #5 "full image size uploads"
allow full image size logo uploads - any dimension - don't fit in 32x32, 64x64....display image "cutter" for closes fit dimension

[2014-06-04 22:09] ins0 opened #6 "ssl support"
prev. ssl support available under

https://armasquads.de
https://armasquads.com

force ssl will be following

[2014-06-04 22:34] ins0 opened #7 "login on mobile devices broken"
currently the login modal is broken on mobile devices

current workaround: just hit on mobile once the login button and get redirected to the unbroken mobile login page.

[2014-06-07 13:52] ins0 opened #8 "squad allow web address"
allow to fil in a squad web page

[2014-06-08 11:20] ins0 opened #9 "fallback url is not recognized"
when changing the language the fallback url after login is not recognized

[2014-06-08 11:20] #6 closed, assigned to nobody

[2014-06-08 11:21] ins0 opened #10 "statistics missing"
on the stats page the "last commit" "project age" and "total commits" stats not displayed

[2014-06-08 11:31] evilcommand opened #11 "cant log in on the site"
when i fill in my emal and passwoord an klik on login my screen go blank and never go to my account

[2014-06-08 13:22] ins0 opened #12 "squad xml privacy protection"
currently squad xml urls include only the system squad id to get access. i was thinking to implement this id to be randomly choosen in order to access the xml files and increase the privacy against email grabbing. what you say?

[2014-06-08 17:16] Razor170 opened #13 "community system"
Okay here my idea:
say we have 2 Squads with different leaders and a coleader

Squad A: LeaderA, CoLeaderA
Squad B: LeaderB, CoLeaderB

now say this two squads work together

it would be a nice option if all, leadera,b and coleadera,b can modify
the two squad xml's

what do you think?

[2014-06-08 17:17] Razor170 opened #14 "leader-board"
a leader-board from the squad with all members for the public would be nice ^^

what do you think ? ;)

[2014-06-08 17:24] Razor170 opened #15 "pic issue"
you see it with your eyes ^^

http://prntscr.com/3quse5

[2014-06-08 17:51] #15 closed, assigned to nobody

[2014-06-10 06:06] #10 closed, assigned to nobody

[2014-06-10 06:07] #8 closed, assigned to nobody

[2014-06-11 17:27] #9 closed, assigned to nobody

[2014-06-11 18:42] ins0 opened #16 "Login Improvement"
for easy access login shoud changed to e-mail and password.

[2014-06-11 18:53] #16 closed, assigned to nobody

[2014-06-13 05:04] #11 closed, assigned to nobody

[2014-06-13 17:03] ins0 opened #17 "german translation"
german translation not full supported yet

[2014-06-13 20:26] ins0 opened #18 "paa conversation error validator"
add a validator for paa conversations after you upload a new squad logo file...sometimes uploaded images are corrupt and paa conversation fails without let the user know. :8ball:

thanks to Florian Noël for pointing that out.

[2014-06-17 17:52] ins0 opened #19 "hitting the add member button twice break the member fields"
hitting the add member button twice crashes all added membes forms

[2014-06-17 18:16] #19 closed, assigned to nobody

[2014-06-22 19:32] #12 closed, assigned to nobody

[2014-07-25 11:30] ins0 opened #20 "restful api"
currently i create a restful api to make a simple application access available.

status:

**SQUADS**
- [x] `POST` `api/v1/squads` create a new squad
- [x] `GET` `api/v1/squads` return all user squads
- [x] `GET`   `api/v1/squads/[id]` return user squad by id
- [x] `PUT` `api/v1/squads/[id]` update a user squad
- [x] `DELETE` `api/v1/squads/[id]` delete a user squad

**MEMBER**
- [x] `POST` `api/v1

[2014-07-30 23:13] SPBojo opened #21 "Squad members not appearing as squad members"
so ive made a squad, and when i get ingame, i can only see myself being in the squad, like all others information that was put in is there, but nothing that makes them apart of the squad is there. not even the tag after their name (wich i have)

[2014-08-05 16:16] hiiii5 opened #22 "Error when adding a specific member"
Every time I try to add a specific person to the members section it never adds them and tosses a 404 error if I attempt to edit them when they were on with incorrect information.

[2014-08-12 11:45] Polarbraveheart opened #23 "Images Not showing up in game."
Hi I recently created a squad link XML for the people I play arma 3 with http://armasquads.com/user/squads/xml/e1N2NKr26CDjUkDo2IusLt92yMpl7JiW/squad.xml

After doing all the necessary details I put in the picture I wanted to use which was reduced down to 512 by 512 and made into a png with Paint.Net.
![512](https://cloud.githubusercontent.com/assets/8427173/3889852/eb3c5f10-2215-11e4-979f-df76cc1

[2014-08-12 16:25] #21 closed, assigned to nobody

[2014-08-12 16:25] #20 closed, assigned to nobody

[2014-08-13 08:49] #23 closed, assigned to nobody

[2014-09-03 10:33] SargentoDaPaz opened #24 "I no Can Enter In Squad Of My Team"
My leader have put-me in squad. ID Correct.USERNAME Correct.All Correct.I Put The Link

http://armasquads.com/user/squads/xml/T11SMORcx5BJqrIKj5V73P0ZKNvhZEk4/squad.xml

ID:76561198082158017

NAME:[GTV] Sargento da Paz

=/ Please Help-me The Tag Of The My Team.The User.Etc No go in game

[2014-09-03 10:50] #22 closed, assigned to nobody

[2014-09-15 20:32] JohnnyBlocks opened #25 "A CSL and CSS page for the XML would be a great addition for your site"
Hi.   Love what you've done here.  I've been using your site till I got the time and initiative to make my own squad setup.    In crafting mine, I've found a CSL and CSS for the XML would be a really nice addition for the site.

I 'gleaned' all my info from the Bohemia site and examples: https://community.bistudio.com/wiki/squad.xml

View my squad XML in a browser to see what I mean:  http://scimi

[2014-09-15 20:40] YoYo-Pete opened #26 "Duplicate Users are not handled properly"
I had two arma profiles... 'YoYo-Pete' and 'YoYoPete'   The second because Breaking Point did not like the hyphen.

I thought 'oh.. I will just add both to the roster with the same player ID, allowing the name to dictate the user'.  This way I would show in squad no matter which profile was used.

Your site does not allow duplicate Player IDs to be added to the same squad.  The issue is there is n

[2014-09-24 10:31] #24 closed, assigned to nobody

[2014-09-25 13:43] ins0 opened #27 "Server Maintenance on 09-25-2014"
our service goes offline on 09-25-2014 for maintenance and will be back shortly.

[2014-09-27 02:19] No6655321 opened #28 "Another Images Not Showing"
http://armasquads.com/user/squads/xml/uxwlM0tzzvFmUJMXFKi6ki9kNguA2UtY/squad.xml

File was a jpg, tried with png as well.

Looked over other posts on here and couldn't really find out why the image isn't showing in game.
Any ideas?

[2014-09-27 19:05] BBADCOMPANYY opened #29 "Arma 3 squad pictures not working"
So I have a group called BAD COMPANY now one of the pictures work but I cant think for the life of me why the others wont work.

One that works:
http://armasquads.com/user/squads/xml/6D0KZKaWoo3hQlnrolDHr1lkoYRjVpEY/squad.xml
Ones that don't work:
http://armasquads.com/user/squads/xml/jHKoGqClwchyZ9doOoJkYzVRoDSvQYKp/squad.xml
http://armasquads.com/user/squads/xml/tUb2ijHiEr4ZBkdkiQCcJZT0CGjz2NrM/

[2014-10-11 23:51] ryan96521 opened #30 "Images not Working for one of my friends"
my friend had tried redownloading arma 3 but it didnt work. Anyway everything is working perfectly fine everyone can see the image on his car but he cant see it. It is really bugging him that he cant see it and has asked me to ask you if there is anyway to fix it. Maybe if its something about his antivirus or somthing restricting him to see it.

XML that he cant see - http://armasquads.com/user/sq

[2014-10-17 18:47] ghost opened #31 "Left shoulder insignia"
Hi people, I have been wondering how to add an insignia (left shoulder patch) to my arma 3 character. According to this: https://community.bistudio.com/wiki/Arma_3_Unit_Insignia there is a right shoulder clan patch (which is provided flawlessly by you guys) and then there's a left shoulder insignia. How do i get the left shoulder one to work? :\

[2014-10-17 19:57] #30 closed, assigned to nobody

[2014-10-17 19:58] #28 closed, assigned to nobody

[2014-10-18 16:05] #31 closed, assigned to nobody

[2014-10-20 21:08] Tscheche opened #32 "Max 12 Members"
Hi,

First things first:

I like the Page and I love how easy it is to set up and mantain the Memberlist. Good work there keep it up.

But I ran into an issue when I tried to add the 13th Member of our Squad. When I tried to add the 13th Member I get a 404 Error.  If I add a blank 14th Member Iam abble to add him but one of the old members get replaced.

with kind regards
Tscheche

[2014-10-20 22:17] #32 closed, assigned to nobody

[2014-10-23 18:04] xxdervishxx opened #33 "Logo don't show up arma 2"
http://armasquads.com/user/squads/xml/MCdcYWFzDr9u2jffg5LD6CIzsHE0ndut/squad.xml
logo don't show up.

[2014-10-27 21:01] Tymojamama opened #34 "Squad Image not showing up Arma 3"
I cannot get my squad image to show up, I have tried to reduce the size and it has not worked, I also have all the info, just need the image to show up.

http://armasquads.com/user/squads/xml/dEenqA6mFkicwQk6uUwgSkqvActXJwW3/squad.xml

[2014-10-27 21:18] #34 closed, assigned to nobody

[2014-10-28 12:11] #29 closed, assigned to nobody

[2014-10-28 13:37] #27 closed, assigned to nobody

[2014-11-12 20:31] ins0 opened #35 "Server Maintenance 11/12/2014"
Just back from work and surprise suprise....server is broken again, sry...not my server we have to wait...
i let u notice when i get more information

[2014-11-13 23:25] #35 closed, assigned to nobody

[2014-11-23 16:05] RevengeRip opened #36 "Cyrillic is not supported"
![default](https://cloud.githubusercontent.com/assets/9915567/5158130/b8f21b06-7343-11e4-8ff2-ce3cf46d00e3.JPG)

[2014-11-24 00:05] #36 closed, assigned to nobody

[2014-12-16 01:49] Holibu opened #37 "Can't join a member"
Hi, We are 11 members in my squad and there is one that i can't never add. The others there is no problem with them, it is only with this user:

PlayerID: 76561198016364752
Name: fabaluco

When I put an incorrect PlayerID or one for another player, it works, but if I put his correct ID, when I click on save, it appears a page with the message "Wwwooooppss! 404 Page not found"

My squad is http://a

[2015-01-04 16:34] Boy1991 commented on #33
http://armasquads.com/user/squads/xml/HjXYAHYtzxgktFxPEUSmidnMXWL3xFbZ/squad.xml
logo don't show up.
player id is right arma 2  I can see squad info on everyone from squad but we can't only see the logo
I need your help.

Logo>>> http://upic.me/show/54158106 <<<265*265

thankyou

[2015-01-04 16:38] Boy1991 opened #38 "logo don't show up.I need your help.thankyou"
hello i have the same problem Logo don't show
 http://armasquads.com/user/squads/xml/HjXYAHYtzxgktFxPEUSmidnMXWL3xFbZ/squad.xml
logo don't show up.
player id is right arma 2 I can see squad info on everyone from squad but we can't only see the logo
I need your help.

Logo>>> http://upic.me/show/54158106 <<<265*265

thankyou

[2015-01-04 17:15] ins0 commented on #38
please test your logo with a nick without an underscore in your nick
``Boy_Bbk`` => ``BoyBbk``

[2015-01-04 22:50] RicardoRazz opened #39 "The squad TAG is on the right side of the name."
Hi,
Is there any chance of having the squad TAG on the left side of the name like : [TAG] player.
Right now the tag is on the right side.

Thank you very much,
PS: If you guys need any help on the development of this project please let me know. I would be glad to help out.

[2015-01-05 01:21] ins0 commented on #39
i'm currently the only one that develops this project. don't know what your issue is - because the game itself or the server mod handle how the squad tag + name are displayed and currently this is ``[TAG] Playername``

[2015-01-05 05:39] Boy1991 commented on #38
I do as you say. "BoyBbk" I can see squad info  but logo don't show sir.

[2015-01-05 10:21] Boy1991 commented on #38
@ins0   I do as you say. "BoyBbk" I can see squad info but logo don't show sir.

[2015-01-05 14:02] Boy1991 commented on #38
@ins0 thankyou sir

[2015-01-05 14:05] ins0 commented on #38
Is your problem solved?

[2015-01-05 15:43] Boy1991 commented on #38
arma 2 how much full Sites sir ???

[2015-01-05 15:52] ins0 commented on #38
what?

[2015-01-05 15:53] Boy1991 commented on #38
please modify photograph NEW LOGO

thankyou sir

[2015-01-05 15:54] Boy1991 commented on #38
http://armasquads.com/user/squads/xml/HjXYAHYtzxgktFxPEUSmidnMXWL3xFbZ/squad.xml

[2015-01-05 16:13] Boy1991 commented on #38
please View pic me >>>>>>>>  http://upic.me/show/54169458

[2015-01-05 16:28] Boy1991 commented on #38
I need your help.

Logo>>> http://upic.me/show/54169230 <<<265*265

thankyou

[2015-01-05 16:47] Boy1991 commented on #38
Thanks for everything. succeed  My Squads

[2015-01-05 16:51] Boy1991 commented on #38
@ins0  Thanks for everything. succeed My Squads

[2015-01-05 17:16] #38 closed

[2015-01-09 16:40] MrTaugs opened #40 "Sizing"
No matter what size i convert my image. It still wont upload. Need help please.
![taugs oil](https://cloud.githubusercontent.com/assets/10466143/5683256/9417a00c-97e3-11e4-8a54-eac32afe6887.png)

[2015-01-09 16:43] MrTaugs commented on #40
Keep getting this error

Error

Upload a logo in one of the following dimensions: 16x16/32x32/64x64/128x128/256x256

[2015-01-09 17:39] ins0 commented on #40
![logo](https://cloud.githubusercontent.com/assets/2622534/5684244/e300c89c-982e-11e4-9279-03c70265e12d.png) try this

[2015-01-09 17:41] MrTaugs commented on #40
I have no idea what you did. But it worked. Thank you so much. I've been doing XML's for a while but never ran into this issue. What did you do?

[2015-01-09 17:48] ins0 commented on #40
resized the image to 256x256 :)

[2015-01-09 17:52] #40 closed

[2015-01-09 19:45] MrTaugs commented on #40
Ok, thats weird. any conversion sites i used said it did it. but no go.

[2015-01-10 04:25] Boy1991 opened #41 "Thank you very much."
Thank you very much.

[2015-01-10 09:58] #41 closed

[2015-01-13 07:52] MacMillan11 opened #42 "Add support of Cyrillics"
Add support of Cyrillics.

[2015-01-13 08:03] ins0 commented on #42
cyrillics are supported by the site but i don't think arma will display it

[2015-01-13 08:03] #42 closed

[2015-01-13 11:45] MacMillan11 commented on #42
Thank you very much! Everything works! Simply I remember that several months ago the site didn't support the Russian symbols.

[2015-01-13 11:53] ins0 commented on #42
yeah that is correct, a user informed me before #36 - but thanks for your feedback! :+1:

[2015-01-14 01:11] ZimZooM3 opened #43 "Information and Logo dosent show up"
So I play on this Altis Server and I wanted to make a Squad XML for my gang I do A LOT of Squad XMLs but this one I couldnt figure out how to fix anyways I did everything as usually BUT Arma Logic dosent want me get it working so I hope you'll help me out here
P.S:Already tried to create the Squad XML again it didnt work
![8ca33b8238fd8becec7d3061c85c8327](https://cloud.githubusercontent.com/asset

[2015-01-24 17:25] Yatheria opened #44 "New Member?"
Hey guys,

i want to set up new members, but what ever we try, we can't get them in. They have the right URL, the right ID and so on. We don't know what to do. Someone any idea?

[2015-01-24 17:35] ins0 commented on #44
hey yatheria please be more specific what does not work

[2015-01-24 17:36] Yatheria commented on #44
They can't join the squad. When they login, they doesnt have the logo and so on. But the other 6 of us don't have any problems

[2015-01-24 17:40] ins0 commented on #44
this makes no sense if the other 6 member have no problem and indicates an error by the guys wo trys to join. as they gives u the nicknames and uids, double check if the nicks and ids are 100% correct.

[2015-01-24 17:43] Yatheria commented on #44
They are correct, thats the problem

[2015-01-24 17:51] Yatheria commented on #44
We can't add a new member. The ID is correct, name is correct everything is fine, but they are not in the squad in arma...

[2015-01-24 17:56] ins0 commented on #44
can't add the member on armasquads.com in your squad?

[2015-01-24 17:57] Yatheria commented on #44
No. I can add him there but it will not display in the game

[2015-01-24 18:01] ins0 commented on #44
please link your squad xml

[2015-01-24 18:06] Yatheria commented on #44
http://armasquads.de/user/squads/xml/yoA5nnPuxDUvY5FoIcB2DroWSWnoGOX3/squad.xml

Thats from the squad. To test it, i created a second with the guys where it doesnt work:
http://armasquads.de/user/squads/xml/loIvNld6gQ17JVIZQYN8RkuDJz0njYoN/squad.xml

[2015-01-25 18:28] Yatheria commented on #44
Any idea?

[2015-01-31 10:41] ins0 commented on #44
sry @Yatheria can find an error by the side eg. reproduce your error so this should be an error from the client side

[2015-01-31 10:41] #44 closed

[2015-01-31 10:43] ins0 commented on #43
sry for my late response, is your problem fixed?

[2015-02-04 19:56] ins0 commented on #26
fixed

[2015-02-04 19:56] #26 closed

[2015-02-04 19:57] ins0 commented on #37
fixed

[2015-02-04 19:57] #37 closed

[2015-02-04 19:58] #33 closed

[2015-02-04 19:59] #39 closed

[2015-02-07 11:45] AlexManta opened #45 "Squad XML - not showing on server despite working previous day"
Hi!

Some of our members have told me that the Squad XML is not working on the servers they are playing despite it working in previous days. It seems other groups have their Squad XML working but they might be hosted by armasquads.com.

If you need anymore info, let me know. Thanks for the awesome service!

[2015-02-08 18:32] soulgamerhd commented on #43
I've the same Problem

[2015-02-09 08:54] ins0 commented on #43
@soulgamerhd please be more specific of your problem and provide your squad xml and infos

[2015-02-09 10:21] doGfoodliD opened #46 "No password revovery"
I made an account but there seems to be no password recovery process

[2015-02-09 10:24] ins0 commented on #46
i will send u a new password - after login change it please under your account settings

[2015-02-09 10:28] doGfoodliD commented on #46
Ok i will do that as soon as the email come through and thank you

[2015-02-09 10:30] ins0 commented on #46
mail is out

[2015-02-09 11:10] ins0 commented on #45
can u please give more information with long your squad xml url?

[2015-02-09 15:49] soulgamerhd commented on #43
Ok ! I can see the Squad on all Servers expect of my Arma 3 Altis-Life Server

[2015-02-09 15:57] ins0 commented on #43
so your squad xml is working on all other servers except your own server?

[2015-02-09 15:57] soulgamerhd commented on #43
Yes :/

[2015-02-09 15:58] ins0 commented on #43
hhmm nothing i can do right now as it seems there is a problem with your server and not the xml itself.

linux server?

[2015-02-09 15:59] soulgamerhd commented on #43
No Arma is only Running on Windows

[2015-02-09 16:05] ins0 commented on #43
your server needs access to port 80,8080 and 443 in order to download a squad xml when a player is joining your server, please check if the ports are allowed by your server firewall.

[2015-02-09 16:08] soulgamerhd commented on #43
Hmmmm, I'm hosting the server at Nitrado and on my previous Server everything was Shown. And now not :/

[2015-02-10 20:40] LawsOfFire opened #47 "everything except picture is working"
as the title says. everything i entered works great. but the picture does not.

i tested it on multiple servers

[2015-02-10 20:45] ins0 commented on #47
please provide your squad xml

[2015-02-10 20:52] LawsOfFire commented on #47
http://armasquads.com/user/squads/xml/tDZT82KHZHbWXt76hdpFJqKkHZnFBR2h/squad.xml

[2015-02-10 21:00] ins0 commented on #47
please upload a new logo as long your squad.xml says "......png" in image there was an error converting your logo, re-upload check xml -> ".....paa" success if this wont work open your image in photoshop and re-save as your image us corrupted on meta level

[2015-02-10 21:10] ins0 commented on #47
just saw you reuploaded and still not working i fixed it by converting the image through photoshop in a clean format. give it a try now

[2015-02-10 21:11] LawsOfFire commented on #47
well i re-reuploaded it. so you might have to do it again...

will check first

[2015-02-10 21:12] ins0 commented on #47
replaced give it a try

[2015-02-10 21:15] LawsOfFire commented on #47
it's working now! thanks for being so quick to help.

[2015-02-10 21:16] ins0 commented on #47
you're welcome ;) have fun

[2015-02-10 21:16] #47 closed

[2015-02-19 13:09] Veiamiope opened #48 "Image not load"
Hi,

I mounted a successful squad. the information load perfectly in game, but the image of the logo will not appear in the game. The image appears only in Armasquad site.
 I tried various shapes and sizes, is currently the lowest, 256x256, transparent gif and two-color B & W and still does not work. could help me?

 My nick is Veiamiope,
».:URV:.« União de Rips e Viets
clanurv@gmail.com

Thanks a

[2015-02-19 13:16] ins0 commented on #48
please avoid special characters in your squad tag like ``.`` or ``:`` and test it without these.

[2015-02-19 14:35] Veiamiope commented on #48
Thank you for your response.

 I did the Exchange Tag, but still the logo will not appear in the game, only the information that is on the site.

 Is there a recommended format for this logo?

Tks!

[2015-02-19 14:51] ins0 commented on #48
i lookup your logo and it seem there was an error converting your image as it only contains 2 colors, even by hand i can't convert your logo to the ``paa`` logo format for arma. so you need to upload a different one. sry about that but there is nothing i can do

[2015-02-19 15:27] Veiamiope commented on #48
Very Good! I changed the image for a larger format and it worked this time!

 Thank you and congratulations on your excellent work.

[2015-02-19 16:14] ins0 commented on #48
:+1: thanks

[2015-02-19 16:14] #48 closed

[2015-02-21 10:59] Kruemmel opened #49 "Logo does not show up"
Our Squadurl shows all information but the jpg/png is not to see. When we get in a car only the Title is on the car but no Icon.
Ports and everything is okay because the other urls work 100%.

our URL is: http://armasquads.de/user/squads/xml/Jotc5QeYTzAamM6DNAZBKdJiBwZwMLGr/squad.xml

[2015-02-21 15:57] ins0 commented on #49
Please reduce yor squad tag and remove all special characters.
arma have stange behaviors if you have special charaters in your squad tag

[2015-02-21 16:16] Kruemmel commented on #49
Nope didnt Help. Deleted everything and did it new. No Pic ingame :/

[2015-02-21 16:18] ins0 commented on #49
still special characters in your squad tag ``*``

[2015-02-21 16:28] Kruemmel commented on #49
Ah okay.

Thank you for your fast Help :) :+1:

[2015-02-21 16:31] ins0 commented on #49
:+1: you're welcome

[2015-02-21 16:31] #49 closed

[2015-02-25 19:00] OAL99 opened #50 "My clan symbol doesnt show up ingame"
Hey,
so i made an clan with your website, and with the link that i got i pasted it in to my profile, but my symbol doesnt show up on my sleeves ingame. What have i done wrong?

[2015-02-25 19:40] ins0 commented on #50
https://github.com/ins0/armasquads/issues?q=is%3Aissue+is%3Aclosed+label%3A%22squad+logo%22

[2015-02-25 21:05] NoNamesLeftJoe opened #51 "Squad Logo Not Showing Up"
Sorry but I am another one that cannot get clan tags to show in game.  I spent about 5 hours resaving various pictures in jpg, jpeg, and png formats.  All pictures were saved as 256x256 size.  All images upload and yield successful conversion.  Squad tags are simple 2 and 3 letters - no special characters.  I can successfully create, edit and add members.  Steam ID is correct also for members.  I

[2015-02-25 21:11] ins0 commented on #51
i can't test ingame so did u allready tried to fill out the same details as your friend where the logo works?

[2015-02-25 22:32] NoNamesLeftJoe commented on #51
yes

On Wed, Feb 25, 2015 at 4:11 PM, Marco Rieger <notifications@github.com>
wrote:

--
Joe

[2015-02-25 22:36] NoNamesLeftJoe commented on #51
The only thing I can think of the url is giving me incorrect directory
perhaps?

On Wed, Feb 25, 2015 at 5:32 PM, NoNamesLeftJoe <nonamesleftjoe@gmail.com>
wrote:

--
Joe

[2015-02-25 22:41] NoNamesLeftJoe commented on #51
Yes on the last two with no members - I recently removed myself as a member but testing the files had same result

[2015-02-26 12:09] StairusOSX opened #52 "Clan image does not appear in Arma3"
in theory it should be fine, but does not appear

mi squad: http://armasquads.com/user/squads/xml/dvwSROZyxkI76jsoTYQARNZpgH0bZrKn/squad.xml

[2015-02-26 16:59] Danipredato commented on #52
the picture is paa file make it a jph or png it should work

[2015-03-01 10:31] ElyziumIV opened #53 "Squad logo doesn't show up in ARMA 3"
Could you please check our new logo as it will not show up ingame or when downloading the zipfile from this site.
The old logo worked and I can't see whats wrong with the new one.
Have tried different image formats and nothing ingame but I can see it here on our squad page.

Thanks!

[2015-03-02 23:15] STONEY-DSP commented on #43
@ soulgamerhd,  as far as i know and have heard and experienced (as gamer on all the Nitrado servers i went incl.wasteland life and Co-op the squad.xml shows sometimes but moste of the time not) ) with Nitrado is that their servers alway's had problems and could still even have problems with the squad.xml files. They have a FAQ section; https://server.nitrado.net/dut/pages/support/  might want to

[2015-03-06 04:34] mjmfighter opened #54 "Linux squad xml links"
We lost all squad xml files when we transfered to a linux arma box.  We thought at first (and it might have been) and arma issue with squad xmls so we reported it to them.  Recently we were told that they were working for other servers so I started to do some digging.  I hosted a squad xml locally on a server of mine using all lowercase in the path, and it worked ingame!  Linux does not seem to li

[2015-03-06 22:26] mjmfighter commented on #54
Doing more research into this, it doesn't seem to be the upper and lowercase causing the issue.  I have copied and pasted the file generated by your side into an xml file onto my site (links below).  The php returned version does not seem to take effect, but the static xml version does.  I am utterly confused at this point.

armasquads url:
http://armasquads.com/user/squads/xml/6Bww1WUBsnDyfsDbPGz

[2015-03-07 16:13] ins0 commented on #54
thanks @mjmfighter for your research, this helps alot! i will try to investigate this issue tomorrow, it is a pain that for squad xmls requested by server there is no solution to get any sort of error logs or a reason _why_ a squad xml is not displayed correctly. :disappointed: - thanks for your effort!

[2015-03-07 16:22] ins0 commented on #54
@mjmfighter just looked at the server response and maybe the issue is produced as the xmls on arma squads are delivered with ``gzip`` compression. i will disable the compression tonight may you can test it after that i will keep you informed here when the server config is changed!

[2015-03-07 23:27] mjmfighter commented on #54
Hmm... I wonder if its because my server has the 64 bit version of gzip installed.  We are currently running Debian 7 64 bit on our server.  I would install the gzip:i386 version, but debian is complaining about it being an 'essential' package and dont want to test if it will break anything on our running server.

I will try on a test server of mine later tonight if the gzip:i386 package helps and

[2015-03-08 14:26] ins0 commented on #54
i disabled the ``gzip`` compression on the server so you might test it now please

[2015-03-13 02:02] Mantiamd opened #55 "Squad Logo and info not showing"
http://armasquads.com/user/squads/xml/dWMib4dJigaoR1srpjpjhQ9JOkT98ik9/squad.xml

The "motto" shows up but the information and logo do not.

[2015-03-13 07:17] ins0 commented on #55
edit your squad xml and remove all special characters and test if again - note that squad logos currently not working when connecting to linux gameservers.

http://feedback.arma3.com/view.php?id=22506

[2015-03-13 23:00] Mantiamd commented on #55
what special characters?  Does "-" count as a special character?

On Fri, Mar 13, 2015 at 3:17 AM, Marco Rieger <notifications@github.com>
wrote:

--
* Michael Mantia **
<http://www.linkedin.com/profile/view?id=232346071&trk=hb_tab_pro_top>*

*Mobile (937)830-0807                            *

[2015-03-15 19:04] AustralianInfidel opened #56 "Squad XML - Everything works but squad logo not showing on ANY Server -"
http://armasquads.com/user/squads/xml/gNAY4SNfV5Fl1O1ryZYDqRZ1yFzeTzFN/squad.xml

All information displays correctly ingame other than logo. Logo does not display ingame or in player list.

Any ideas?

[2015-03-16 11:57] ElyziumIV commented on #56
Same for me as in my ticket.
Please let me know if you find any solutions.
Thanks.

[2015-03-16 11:59] ins0 commented on #53
you logo could not be converted to the ``.paa`` file format - as in the xml is the logo file type ``png`` please provide a different logo which is not broken or invalid saved on your computer.

[2015-03-17 10:02] ElyziumIV commented on #53
Yeah its strange. Worked with ARMA 3 tools.
Got another image now online, thanks for your help.

[2015-03-17 10:02] #53 closed

[2015-03-17 22:09] GEFSQUAD opened #57 "Problem upload .paa squad logo"
I uploadet a picture on the squad, but its not working and i know why, because png. Now i tried to convert the png to paa with TexView 2, i cant upload it now.. the paa picture is now a white empty file not possible to upload... i hope you understand what i mean.. please help

here my squad site http://armasquads.de/user/squads/xml/kqqI16ef6r74HDG2r3lQi2X1oS3c2kiK/squad.xml

[2015-03-17 22:17] ins0 commented on #57
i don't know why but arma don't like images with less then 3 or 5 colors - don't ask me why but if you upload a more detailed picture (more colours) your image should be converted without an error.

[2015-03-17 22:24] GEFSQUAD commented on #57
allright, thank you for answer.

[2015-03-17 22:27] ins0 commented on #57
you're welcome, please let me know if your problem is solved

[2015-03-17 23:06] GEFSQUAD commented on #57
now i got solved the problem with the error on texview 2, but now on the squad site cames the message if i try to uploade the file : you only can upload logo with png,jpg,jpeg,gif

[2015-03-17 23:16] GEFSQUAD commented on #57
problem solved thank you very much, please close

[2015-03-17 23:19] ins0 commented on #57
:+1:

[2015-03-17 23:19] #57 closed

[2015-03-17 23:22] ins0 commented on #43
@ZimZooM3 closing duo inactivity - please feel free to reopen

[2015-03-17 23:22] #43 closed

[2015-03-17 23:23] ins0 commented on #45
@AlexManta closing duo inactivity - please feel free to reopen

[2015-03-17 23:23] #45 closed

[2015-03-17 23:24] ins0 commented on #56
squad xml looks fine - so maybe the pasted link in your profile is corrupt when the xml is not recognized on any server

[2015-03-17 23:27] ins0 commented on #55
can't give you a full list as bohemia don't give any detailed informations on this but everything excepts ``a-z A-Z 0-9`` can cause problems

[2015-03-20 20:04] AustralianInfidel commented on #56
Hi m8. Apologies for misunderstanding the instructions.
Can you please explain step by step ( <-- idiot here.. tried a few times and i know i am just not getting it ) on what the image requirements are.

Ive done .paa   and .jpg.

Made the images 256 * 256 pixels.      I understand i am doing it wrong. But not sure how.

Thank you for your assistance

[2015-03-20 20:16] AustralianInfidel commented on #56
Also. Deleted the squad xml. created a new one. http://armasquads.com/user/squads/xml/kr1v28YWyFvpvfXYYIkuoeTL3mLyu0Hh/squad.xml

Added myself as member.

Still same issue. Any advice would be great

[2015-03-28 21:20] dvdbrewster opened #58 "squad info plus logo doesnt work"
my squad xml works on my friends game. It does not  work with mine. I tried filling in all the blanks..
I removed the brackets from my clan tag, removed the title, wrote my ingame name in the name field
(squad name?)(friends game everything works.)  I joined the squad and triple checked the player id.
and triple checked the xml line in the profile editing..   I don't Know  what to do next.
I click

[2015-03-28 21:24] ins0 commented on #58
hey @dvdbrewster can u please be more specific what doesn't work?
- your complete squad info is not visible ingame
- only your squad logo doesn't work

[2015-03-28 21:28] dvdbrewster commented on #58
Nothing is visible ingame  on my profile/computer.   "0"

[2015-03-28 21:30] ins0 commented on #58
can u please make sure and blank the squad url field in your arma profile and copy & paste the url new only to make sure there is no issue there - so your squad xml is never requested from servers

[2015-03-28 21:32] dvdbrewster commented on #58
BRB

[2015-03-28 21:47] dvdbrewster commented on #58
The paste function does not work for the edit profile window.

[2015-03-28 21:48] ins0 commented on #58
arma3?

[2015-03-28 21:50] dvdbrewster commented on #58
yes.  I just tried it. Copied from armasquads .com  and it wont past to the url field in profile editor

[2015-03-28 21:51] dvdbrewster commented on #58
Is there a keyboard shortcut to do paste ?

[2015-03-28 21:51] ins0 commented on #58
then there is some issue on your side with the copy & paste works on my pc - please make sure the url pasted or entered in your profile is clean

[2015-03-28 21:53] ins0 commented on #58
STG + V = paste
STRG + C = copy selected text

[2015-03-28 21:59] ins0 commented on #58
just looked up the access log for your squad xml - confirmed your squad xml was never requested from any gameserver so there is a issue in your profile xml url.

[2015-03-28 22:03] dvdbrewster commented on #58
the keys worked..

[2015-03-28 22:04] ins0 commented on #58
request from a gameserver just now ``
XXXX - - [28/Mar/2015:23:03:58 +0100] "GET /user/squads/xml/wAdW1SX6gC0LUXMmDpsQKsb26eXplH4k/squad.xml HTTP/1.1" 200 428 "-" "BIGameEngine"
XXXX - - [28/Mar/2015:23:03:58 +0100] "GET /user/squads/xml/wAdW1SX6gC0LUXMmDpsQKsb26eXplH4k/d647ba613691cf6b85df53bde6f7eee8.paa HTTP/1.1" 200 11080 "-" "BIGameEngine"``

[2015-03-28 22:07] dvdbrewster commented on #58
That was it all the time..  I was even looking at some troubles of javascript instead of inicode 8.
U fixed it..

[2015-03-28 22:08] ins0 commented on #58
@dvdbrewster nice to hear that it is now fixed - have fun :+1:

[2015-03-28 22:08] #58 closed

[2015-03-28 22:08] dvdbrewster commented on #58
so they still ask for it.. Is that BAD ?

[2015-03-28 22:09] ins0 commented on #58
what?

[2015-03-28 22:15] dvdbrewster commented on #58
the servers request this normal?

[2015-03-28 22:17] ins0 commented on #58
yeah if you connect to a server the gameserver request your squad url from your profile and armasquads.com deliver this squad xml - then the server process the xml file and show the content ingame (clan tag - squad logo etc.) so the requests i posted above show a gameserver that requests your xml - which means your xml url in your profile is correct :)

[2015-03-28 22:33] dvdbrewster commented on #58
awesome

[2015-03-29 15:52] kripto202 commented on #52
how squad xml works is that you need to make sure that everyone is using the same exact name in the squad xml. If not, the profile and picture won't come up.

[2015-04-04 05:55] Bbobbai opened #59 "Site Broken"
Site seem to be zoomed into one side. Broken, screens below.

http://gyazo.com/967c24ba95207a68962fe9ef694e9da7

[2015-04-04 07:41] imthatguyhere commented on #59
http://i.imgur.com/dPhv1Bq.png

Same here. All pages. Firefox 36.0.4 and 37.0.1

http://i.imgur.com/1OCkkei.png

That's the latest 2  versions of chrome.

[2015-04-04 09:54] ins0 commented on #59
@Bbobbai what browser + version do you use?

@imthatguyhere just checked against 37.0.1 site looks good - so i can't reproduce the error on a clean firefox version. can you please clear your cache and try it again?

just jumped on the last version of bootstrap may this fix the layout issues?!

[2015-04-04 12:29] ins0 commented on #59
sry for this reference horror - @Bbobbai @imthatguyhere can you please test if the site now works for you guys?

the problem occurs only if you had adblock software installed and as the ads are now part of the layout if they gets removed (by the adblock) the page was messed up. should be working now with adblock enabled.

[2015-04-04 16:12] kripto202 commented on #59
the sight is down or some error is stopping me

[2015-04-04 16:14] ins0 commented on #59
yeah give me a sec

[2015-04-04 16:17] ins0 commented on #59
should be working now thanks @kripto202

[2015-04-05 06:21] imthatguyhere commented on #59
Works, http://i.imgur.com/hWZL8WN.png Oddly enough I didn't have adguard enabled and I still lack any adds so who knows. I just removed the classes and used it as normal anyway. Thanks for fixing it!

[2015-04-06 14:53] ins0 commented on #59
@imthatguyhere thanks for notifying me

[2015-04-06 14:53] #59 closed

[2015-04-08 03:58] biowire20 commented on #56
Nasty bug i have to report that is a huge problem but saw this and had to comment to help you immediatly "ins0" please get this on your website for typing squad nickname you can not have "." a period in your squad nickname it will make your pic invisible i just solved this issue and it worked, if your squad nickname is "w.s.c.' you must make it "wsc" if you want your logo to work.

[2015-04-08 04:06] biowire20 opened #60 "Squad Tag needs work A.S.A.P. (LOGO NOT APPEARING FIX HERE)"
A large issue for many people here is that there picture or logo is not being displayed and you have the file in either jpg, png, or gif and the dimensions are either 16x16, 32x32, 128x128, and so on. Yet your logo does not appear the fix for this problem is that Arma squad xml's do not render your logo if your SQUAD TAG has a period in it  "." so to fix this if your clans tag is "W.S.C." you need

[2015-04-08 06:23] ins0 commented on #60
thanks for your suggest @biowire20. yeah that is the thing why i mentioned to not enter characters other then ``a-z 0-9``. unfortunately i can't restrict this values from being entered as many users don't had a squad logo but would like to use squad tags like ``F.O.O`` or ``B.A.R``. so there is a usecase for both possibilities as arma render both equal (expects the squad logo with periods in tag).

[2015-04-11 17:32] Alexsys opened #61 "Squad logo doesn't show up on vehicles or soldiers"
As the title says it doesn't show up
http://armasquads.com/user/squads/xml/nbvk8kOMc1CCH71CxB7aPa15UnFzh3ko/squad.xml

[2015-04-11 19:13] ins0 commented on #61
Other semilar questions:

- The board in my car shows a red light - what is that?
- My laptop won't boot - how can i fix that?

if you don't see any conection with your question above and don't know how to improve it with more information. What have you tried? What steps do you take from creating a squad xml on side within ingame...follow the instructions from prev. issues here - https://github.co

[2015-04-27 03:13] AidenTeran opened #62 "Squad not showing on name at all times"
Hey guys and girls

im a little stuck

we have been making a number of squads for a Clan and its showing the name in Playerlist and on side chat but doesnt show all the time on the person

We want it to show all the time on the person so everyone can see there squad name all the time.

[2015-04-29 09:37] jus61 opened #63 "Installation"
Hallo

Kann mir eventuell jemand bei der Installation helfen?
Mein Webspace Anbieter ist all-inkl.com

Error:
Fatal error: Uncaught exception 'RuntimeException' with message 'Unable to load ZF2. Run `php composer.phar install` or define a ZF2_PATH environment variable.

[2015-04-29 12:02] ins0 commented on #63
du musst mit ``composer install`` das vendor verzeichnis laden, da das projekt auf verschiedene libraries aufbaut.

[2015-05-01 19:06] AidenTeran commented on #62
Hey All.

Im still wondering if we have any idea how to over come this.

THanks

[2015-05-02 14:36] SuperFastBlast opened #64 "Any way i could get a password reset?"
Hey, Any way i could get a password reset? My username is SuperFastBlast

[2015-05-02 16:41] ins0 commented on #64
please send me an email from your registered mail account to ``rieger@racecore.de`` i will send you your new temporary password.

[2015-05-02 20:19] SuperFastBlast commented on #64
Alright will do

[2015-05-02 20:29] ins0 commented on #64
email send, have a nice day!

[2015-05-02 20:29] #64 closed

[2015-05-03 04:39] #62 closed

[2015-05-03 04:43] AidenTeran opened #65 "Squad Tag not showing in name on any members unless typing in side chat or player list."
Hi peeps.

I need your help.

We have created a squad and set it all up. BUT when in game the tag doesnt  show up at all unless we type in side chat or on the player list.

Anyone have any ideas of how to rectify this?????

Thanks for your time

[2015-05-03 11:17] ins0 commented on #65
can you please be more detailed. i don't even know what you are trying to do.

[2015-05-04 22:31] AidenTeran commented on #65
Basically.

We have made the squad using your website.
Each person has added the URL to there Profile.
Ive hadded each and ever UID and Name to the website.

When we go to play in game and run as our squad the actual tag only shows when speaking in side channel or vehicle chat. or in the Player menu

When talking in directional chat or anyother way doesnt show up the tag above the head of the play

[2015-05-04 22:49] ins0 commented on #65
nope sry this isn't the job of a squad xml file, so unfortunately i can't help.

[2015-05-04 22:49] #65 closed

[2015-05-06 13:41] Sakura-jun opened #66 "Team logo can not be displayed"
In the game which I can see my email some information, but can not see my badge. This can also be seen until very strange.
http://armasquads.com/user/squads/xml/eXYqVZFqL1NZPaYj5ZDBCgU6zrA2SthP/squad.xml

[2015-05-06 13:44] ins0 commented on #66
Please provide more information about the server you are trying to connect. Please note that Linux Server currently don't allow logos because of a temporary bug in arma.

More Information and suggestions in order to make your squad logo work - look here:

https://github.com/ins0/armasquads/labels/squad%20logo

[2015-05-06 13:50] Sakura-jun commented on #66
I do not know, I just updated the Arma 3, and then enter the game himself built a small server. Then I found that I could not see the badge.

[2015-05-06 13:54] ins0 commented on #66
There could be multiple reasons why your logo is not shown ingame. Please follow the link to similar issues from other users and try the suggentions on each issue.

[2015-05-06 14:33] Sakura-jun commented on #66
Appears to be too long because Remark!
Thanks for your quick reply！

[2015-05-06 14:37] ins0 commented on #66
Thanks for the information how to resolve your problem :+1:

[2015-05-06 14:37] #66 closed

[2015-05-06 21:05] Empclan commented on #55
http://armasquads.com/user/squads/xml/m6wA7iRD7l2k8qwse5sVQB9rnAlArinT/squad.xml
I also am having this problem with some of our squad members only show partial information or none at all.

[2015-05-11 07:12] vadklop opened #67 "Squads cease to work after ARMA update 1.44"
Hello comrades its new problem there. After 1.44 update clan information dont work completly. Before 1.44 I had my xml file on Dropbox and everything work just great, but after update everything broke, but some clans which have xml file on their own web sites work like usual. I made my squad on armasquads.com in hope that on web site everything will be OK, but there a same problem.
 I write every

[2015-05-12 20:24] ins0 commented on #67
can you please share the urls to working and none working versions of these xml files and in which version of arma the work/not work, please?

[2015-05-12 20:26] ins0 commented on #50
closing duo inactivity - please feel free to reopen

[2015-05-12 20:26] #50 closed

[2015-05-13 03:48] vadklop commented on #67
I can show the xml of my squad, but cant show other, because I dont have them, well mabe I could ask for some xml from Clan leaders but I think nobody give me it.
 My xml always (from release of Arma 3 to 1.44) was in Dropbox, but after 1.44 update for Arma 3 everything is broke.
 I noticed that very much clans dont have any information about Squad in game anymore (In Russia at least).
 My squad (

[2015-05-13 14:47] DeliciousJaffa opened #68 "PHP Errors without a member in DB"
http://ss.djurl.co.uk/05-13-blEvPd-988x408.png
PHP Fatal error:  Call to a member function getUsername() on null in /path/to/module/Frontend/Startseite/view/startseite/index.phtml on line 48

[2015-05-13 14:56] #68 closed

[2015-05-13 14:57] ins0 commented on #68
thanks @DeliciousJaffa :+1:

[2015-05-13 15:02] DeliciousJaffa opened #70 "ACL appears to not work with fresh DB with 1 user."
The single user was created through the proper register function and is the only data in any tables.
[code]
http://ss.djurl.co.uk/05-13-kHJ5Ni-1919x1017.png

[2015-05-13 15:13] ins0 commented on #70
ok default db dump need a default user group, i will add the default groups when back home

[2015-05-13 15:16] ins0 commented on #70
a temp fix is that you insert a group in the ``auth_gruppen`` table with id 1, a name and mark it as supervisor => 1

[2015-05-14 05:08] DerRoteKoyote commented on #70
yeah i must copy that no tag no logo :(

[2015-05-15 11:46] vadklop commented on #67
That xml is working https://drive.google.com/file/d/0ByUwUQTBv-1peW9Bb2hkZkNxam8/view

[2015-05-15 12:06] ins0 commented on #67
what arma version is currently installed on the server?

[2015-05-15 14:33] vadklop commented on #67
I always check on my local server from my PC on Windows, and some servers on 1.44 and Windows all too.

I ask one man which xml is working (xml above), he said he have xml on his own FTP server. For test I ask to place my xml on his server, but it still not work, I dont know what to do, a paste the url correctly, cache of ARMA 3 is OK.

Looks like it my problem, but xml not working for all my team

[2015-05-15 15:05] ins0 commented on #67
hard to say what issue is there as arma give no information at all to debug any kind of trouble with squad xml files.

currently i can't do anything except give some information and suggestions...hmm this sucks balls, everytime someone report a problem i don't know if it is my mistake or arma.

[2015-05-18 22:53] Leviat1001 commented on #46
i lost too can you help me?

[2015-05-20 06:53] ins0 commented on #46
@Leviat1001 please send me an email from your registered account email to ``ins0@racecore.de`` i will send you afterwards the temporary account password

[2015-05-20 20:53] #51 closed

[2015-05-24 09:30] 93Reaper opened #71 "Password recovery"
Hello, I noticed there is no way to recover my password, could you please send me a new one? Greetings Reaper

[2015-05-24 15:58] TheUsforcer opened #72 "Cant remove Squadmember"
I want to delete some Member of my Memberlist with the deletebutton, but if i go to menu -> squads there are already 8 members ob 8. I klick of "Members" and the deleten Members are back in the Memberlist.

[2015-05-24 16:31] ins0 commented on #72
will check this ASAP

[2015-05-24 17:00] TheUsforcer commented on #72
Thanks

[2015-05-25 19:52] ins0 commented on #72
@TheUsforcer just fixed some stuff can you please confirm that your bug is fixed?

[2015-05-26 13:12] TheUsforcer commented on #72
Jes, its fixed. Thank you

[2015-05-26 13:13] ins0 commented on #72
@TheUsforcer thanks you!

[2015-05-26 13:13] #72 closed

[2015-05-26 18:12] Fevix opened #73 "Suggestion: More ways to get to the Squad page (Example: Save automatically returns you to Squads)"
Title says all

[2015-05-26 18:23] ins0 commented on #73
thanks @Fevix but can you please a little bit more detailed please?

[2015-05-26 18:44] Fevix commented on #73
It just seems like a hassle to hit the Save button, then have to use Menu>Squads to get back to the squads screen. I feel that it'd be an improvement to have the Save button take you right back to the Squads screen (With the same "Save successful" box). Seeing as you can make all the changes to the member list that you need in one go, having it keep you on that page after you've saved seems redund

[2015-05-27 14:54] TheUsforcer opened #74 "Logo doesn't change"
If i change the Logo of the Squad, the Logo doesnt change ingame.I restart arma but no logo

[2015-05-27 14:55] ins0 commented on #74
the logo show up after restarting arma or is not displayed?

[2015-05-27 14:56] TheUsforcer commented on #74
The old ist not displayed but the new ist not displayed too

[2015-05-27 14:57] ins0 commented on #74
please provide a link to your xml

[2015-05-27 14:59] TheUsforcer commented on #74
http://armasquads.de/user/squads/xml/9AAHpr2yBj5NW1I35nXFkhRp257joAAL/squad.xml

[2015-05-27 15:01] ins0 commented on #74
low color image, plrease test a different logo/image as logo and test if this works. sometime - idk why - arma refuses low color images

[2015-05-27 15:09] TheUsforcer commented on #74
Doesn't work

[2015-05-27 15:11] ins0 commented on #74
what image did u tested?

[2015-05-27 15:11] TheUsforcer commented on #74
the same with a low color image now i try the old one

[2015-05-27 15:12] TheUsforcer commented on #74
the old one doesn't work anymore

[2015-05-27 15:14] ins0 commented on #74
use this logo for the test, if it works it is your logo. http://www.w3.org/MarkUp/Test/xhtml-print/20050519/tests/jpeg444.jpg

can't do anything as the xml is correct and the logo in ``paa`` file format, everything else is in the hands of bohemia interactive

[2015-05-27 15:22] TheUsforcer commented on #74
ok that logo works

[2015-05-27 15:25] ins0 commented on #74
the problem is that there are no information on file level of a valid ``paa`` file so i can't analyse why some images work and some other won't display at all.

[2015-05-27 15:25] TheUsforcer commented on #74
ok

[2015-05-27 15:26] TheUsforcer commented on #74
now the logo i would change works

[2015-05-27 15:26] ins0 commented on #74
which?

[2015-05-27 15:28] TheUsforcer commented on #74
the logo that doesnt work first.

[2015-05-27 15:42] ins0 commented on #74
hhm strange i really don't know what cause this bug and is it buggy on my side or the arma 3 client. :confused:

[2015-05-27 15:54] ins0 commented on #74
finally something i can work with - thanks @TheUsforcer

the first paa image you provide looks exactly the same as the working new one when viewing it with textview - same logo.

but on the bitwise level the logos are not equal - the paa file that is not working is missing one midmap 2x2 image. currently i don't know why but well it's something

[2015-05-27 15:55] TheUsforcer commented on #74
ok thanks for your time to help me

[2015-05-27 15:56] ins0 commented on #74
the uploaded logo the one that won't work and the one that work - any difference between the files on upload? same image size? same file? same filename?

[2015-05-31 04:56] ins0 commented on #71
@93Reaper sry for my late response, do u need still a new password?

[2015-05-31 14:10] 93Reaper commented on #71
No problem, you sended me a new one already, thanks :)

Date: Sat, 30 May 2015 21:56:12 -0700
From: notifications@github.com
To: armasquads@noreply.github.com
CC: shifty55@hotmail.de
Subject: Re: [armasquads] Password recovery (#71)

@93Reaper sry for my late response, do u need still a new password?

—
Reply to this email directly or view it on GitHub.

[2015-06-01 07:26] ins0 commented on #71
Thanks wasn't sure if i allready send you a new password :)

[2015-06-01 07:26] #71 closed

[2015-06-08 23:36] BadgerCo opened #75 "Not accepting PlayerID"
The system errors out after I input my playerID.
I tried multiple different IDs and they all work except mine.
I would post my ID to have you trouble shoot, but I don't want everyone to see it.
I will gladly PM it.

[2015-06-10 13:34] ins0 commented on #75
thanks for your report - send me an email "rieger@racecore.de" with your account details (email) or player id and i will try to investigate this issue

[2015-06-10 13:59] BadgerCo commented on #75
I feel like an idiot. Turns out it was a duplicate playerID. I'm Closing this and opening a new ticket for another issue I have encountered.
Thanks,

[2015-06-10 14:01] ins0 commented on #75
one question to this ticket - did you get a error page after hitting save or nothing happend and the player with the doublicate id only wasn't saved?

[2015-06-10 14:08] BadgerCo commented on #75
Error message when hitting save

[2015-06-10 14:09] ins0 commented on #75
just as reference i reopen this issue and provide a fix for that

[2015-06-10 14:12] BadgerCo commented on #75
I think a Duplicate Notification on the error page may help.
I spent 24 hrs trying to figure this out.
I felt so dumb :)

[2015-06-10 14:13] ins0 commented on #75
No you're not dump, the page is dump as you should get a clear and nice error message to let you know what was wrong and how to avoid this :+1:

[2015-06-10 14:36] BadgerCo opened #76 "Squad Logo not appearing"
I have reviewed previous tickets and my issue appears to be unique.
I do not have "." in my Squad Tag. My image is rendered at 256x256. I uploaded it as a png, and when I download it from the Interface, It has a .paa extension, thus the conversion looks to be working correctly.
All other elements from the XML work, however, the image is not loading.
Thoughts?

[2015-06-10 14:53] ins0 commented on #76
it looks like the converted paa file missing a 2x2 midmap image, i don't know if this is the issue that blocks the logo from showing, will try to test it after i'm back home. can you please keep that squad open and don't modify it?

[2015-06-10 14:56] BadgerCo commented on #76
Absolutely, She is all yours. Thanks again for the help :)

[2015-06-11 14:04] BadgerCo commented on #76
In the meantime, can I create another Squad XML with a different image file and see if I encounter the same issue?

[2015-06-11 14:05] ins0 commented on #76
yeah for sure!

[2015-06-11 22:04] ins0 commented on #76
@BadgerCo please reupload your image and test it please just updated some libs

[2015-06-11 22:22] BadgerCo commented on #76
Don't know what you did, but you fixed it.
Bravo, fine sir, bravo!

[2015-06-11 22:25] ins0 commented on #76
:+1: nice - thanks for your report! have a nice day!

[2015-06-11 22:25] #76 closed

[2015-06-11 22:26] ins0 commented on #74
@TheUsforcer please reupload your logo and test it i updated some libs

[2015-06-11 22:28] ins0 commented on #67
closing this if - feel free to reopen if there are still open questions

[2015-06-11 22:28] #67 closed

[2015-06-11 22:29] ins0 commented on #63
closing - feel free to reopen if there are still questions open

[2015-06-11 22:29] #63 closed

[2015-06-11 22:29] ins0 commented on #61
closing - feel free to reopen if there are still questions open

[2015-06-11 22:29] #61 closed

[2015-06-11 22:30] ins0 commented on #56
closing - feel free to reopen if there are still questions open

[2015-06-11 22:30] #56 closed

[2015-06-11 22:31] ins0 commented on #55
closing - feel free to reopen if there are still questions open

[2015-06-11 22:31] #55 closed

[2015-06-11 22:31] ins0 commented on #52
closing - feel free to reopen if there are still questions open

[2015-06-11 22:31] #52 closed

[2015-06-11 22:32] ins0 commented on #54
@mjmfighter could you please test if this issue is still present?

[2015-06-18 02:35] Escforreality opened #77 "Website error"
I attempted to add an additional member to the "add member" section and after inputting the PlayerID and User name got the following error"

"An error occurred
An error occurred during execution; please try again later."

This occurred at 22:30 EST 17-06-2015.

This could simply be a temporary web based error but I though I would submit just in case. Please let me know if you need any more informa

[2015-06-18 03:07] Escforreality commented on #77
This may have been due to me putting in the same PID in two instances, please ignore.

[2015-06-18 03:07] #77 closed

[2015-06-21 00:17] YefimFomin opened #78 "password reset"
Hi, I am having trouble getting in the website. I can't for the life of me remember my password. Is there a way to reset it?

[2015-06-21 09:52] Sakura-jun opened #79 "Go to the server can‘t see the team information and badge"
I discovered recently entered the server don't display team information and badge, I tried to re-establish, but not work.
URL: http://armasquads.com/user/squads/xml/uToYWktnLKdEYhTFkMRRyu1slKRgP6je/squad.xml

[2015-07-20 15:57] jimmydlm opened #80 "i cant remember pass"
can you reset the pasword of my account??

[2015-08-02 08:02] hickxxx opened #81 "Pass Recovery"
Hi, i need a pass reset pls !!!

[2015-08-02 13:54] ins0 commented on #81
Please mail me from you requested email to ins0@racecore.de

[2015-08-02 13:54] #81 closed

[2015-08-06 01:21] Dwop opened #82 "My friends cannot see the logo but i can?"
Hi! my friends can see everything but not the Logo ?
And i can see the logo just fine..

[2015-08-13 23:38] Spectre011 opened #83 "Squad issues"
well i don't know what i am doing wrong but i added a member yesterday and had him follow the steps i did to get my squad tag and emblem and its not giving him anything it makes it frustrating.. please add a step by step direction page so it can clear up this kind of issue please.. or send me a mail or contact me some how so we can fix this.. also i want to donate but this issue is keeping me from

[2015-08-16 01:05] KoalaFellaz opened #84 "My Squad XML Simply Won't work :'( Im going to cry -.-'"
I had done Squad XML before, but when i bought a new harddisk, and reinstalled Arma 3 on my PC, and went doing a new Squad XML, and i made it Right with the Right username and ID, but it don't shot anything when i come into arma, even dough i did copy the link into my Profile where the link have to be...

[2015-08-20 03:53] defused opened #85 "Password Recovery"
I need to recover my password for user defused can you resend me to my user mail please

[2015-08-20 12:03] ins0 commented on #85
hey man, i send you an email :smile_cat:

[2015-08-20 12:03] #85 closed

[2015-08-23 12:53] Dyzalonius opened #86 "Error when adding members"
Whenever I try to add a new person to the squad and click on 'save', I get this error screen.
This happened multiple times this week.

![image](https://cloud.githubusercontent.com/assets/13929556/9428248/429bac80-49a6-11e5-9b22-447803266cc0.png)

[2015-08-23 12:55] ins0 commented on #86
Thanks reporting this error, i will look into it

[2015-08-23 13:05] ins0 commented on #86
can you please retry you insert and check if the error still occurs?

[2015-08-23 13:08] Dyzalonius commented on #86
The error still occurs, no difference.

[2015-08-23 13:09] ins0 commented on #86
I can't reproduce the error can you please send me the exact information you try to fill in the input fields?

[2015-08-23 13:19] Dyzalonius commented on #86
My Squads >> ZEUS Operations >> Members >> Add a new Member >> (see screenshot)
http://i.imgur.com/75Ps4R6.png

[2015-08-23 13:24] ins0 commented on #86
the user id is allready on the squad xml, currently it is not possible to add the same id twice or more to one squad xml. arma don't recognize multiple user ids on the same squad xml. so instand of this general error you should see a error message saying that adding the same id is not possible.

[2015-08-23 13:37] Dyzalonius commented on #86
Oh, I see what happened. I mistaked someone else's SteamID with mine..

[2015-08-24 23:23] Ramrodgaming opened #87 "Cannot add new person to squad XML"
Hello,

I cannot add a member of our clan "TBone" to our squad each time I try it says an unexpected error occurred, however it will let me add other people to the list. Each time I try to add "TBone" (without quotation marks obviously" it gives me the same error

[2015-08-24 23:25] Ramrodgaming commented on #87
I'm a special kind of stupid. Disregard

[2015-08-24 23:25] #87 closed

[2015-09-03 20:48] Ihunter350z opened #88 "What happened with my squad?"
I was playing Arma just yesterday and my squad worked just fine, but when I changed some lines in the Squad Tile(!!!) and started my game nothing was working, no insigna, no squad, nothing. I tried removing my squad and recreating it anew, restarted my game, re-entered every line manualy and it's still broken. Could I get any suggestions ASAP?

[2015-09-04 10:51] #88 closed

[2015-09-04 10:59] ins0 commented on #88
Hey Hunter, did you solve your problem?

[2015-09-05 16:34] jacobguldner opened #89 "My squad isnt working"
it used to work fine, but now, it wont show the logo on any of our things ingame, and i have updated our info to make sure its all acurate, idk what to do, please help. my squad mates are getting upset with me T_T

[2015-09-05 23:32] TheKinglog opened #90 "My squad not Load the Logo"
First, srry for my bad english

My xml:
http://armasquads.de/user/squads/xml/kJS51QSxeIS0xhwyov5OhSfLoRU7YNvi/squad.xml

My Logo:
http://www.fotos-hochladen.net/view/logohead7tvd54uryk.png

Ingame:
http://www.fotos-hochladen.net/view/2015090600002xwy3mte1f.jpg

what can I do? Please help

[2015-09-06 18:37] jacobguldner commented on #89
to be a little more clear, all our info for the squad shows in game, ie remarks tag etc, but the logo will not show for anyone other then me, they have the url in the profile, but it still wont show the logo, it used to but now it wont.

[2015-09-06 18:46] jacobguldner commented on #89
LOL update, the logo shows on all squad members arms, it shows on my name in the map/players but not the other squad members. it has the big open section on there info in players list where the logo is normally at but its just not apearing in there, it works everywhere else.

this is my squad http://armasquads.com/user/squads/xml/aHNPb0AROMGmSBPOwgzpkQMICOCHgt3D/squad.xml idk if thats the link you

[2015-09-06 21:10] Ihunter350z commented on #88
Yep, turns out my title was too long. Sorry for troubles :D

[2015-09-07 06:28] ins0 commented on #88
@Ihunter350z did u know how long the title can be, before the xml started to fail?

[2015-09-08 02:02] dylmonster opened #91 "cant join other squads"
i cant join any squads with an error stating that this player id is already in another squad. is there anyway i can wipe all of the squads linked to my player id

[2015-09-09 21:58] Ihunter350z commented on #88
@ins0 No, I think I could try and test it if you want

[2015-09-10 06:53] ins0 commented on #88
thanks - this would be nice - if you could test it.

[2015-09-11 22:10] TheKinglog commented on #90
How can i load my image?

[2015-09-17 13:00] Naresuen opened #92 "naresuen"

[2015-09-17 13:00] #92 closed

[2015-10-05 21:40] ReAPeR1986 opened #93 "Password Reset"
I can't for the life of me remember my password could you please help me reset it.  I need to add new members to the XML and I can't remember my password.  Thanks in advance for your time.

[2015-10-07 08:19] ins0 commented on #93
hey man just send me an mail to ``rieger@racecore.de`` from your registered account email.

[2015-10-20 21:53] Tavish101 opened #94 "Can't add new member to squad"
Can't add new member to my squad - http://armasquads.com/user/squads/xml/DJGG7GxACqrVh6APcEbbeL1yid17ch16/squad.xml

When I click save it says:
An error occurred during execution; please try again later.

[2015-10-20 21:53] ins0 commented on #94
is the user id allready present in the squad?

[2015-10-20 21:55] Tavish101 commented on #94
Yes, My bad. Thanks for an instant reply!

[2015-10-20 21:55] #94 closed

[2015-10-20 21:56] ins0 commented on #94
You're welcome :)

[2015-10-23 16:58] Gotteshand opened #95 "Neue Member werden nicht angezeigt"
Hi Zusammen.

Bei meinem Account funktioniert die Squad.xml aber wenn ich weitere Member hinzufüge scheind dieses nicht zu klappen. Bei Ihnen wird jeder die Gruppe noch das Bild angezeigt.

http://armasquads.de/user/squads/xml/0YFtyQf5xyCynbRgbYy5McgyJVhtihkj/squad.xml

Dieses ist meine Angelegte Gruppe. Vielen Dank für die Hilfe

[2015-10-25 06:21] Kayland opened #96 "Unable to create a squad"
When trying to create a squad I get an error looking like this: https://i.gyazo.com/6b50271fac9a86684bd096ec51f5bb36.png

I deleted my old squad and tried to make a new one I don't know if that is the reason I get the error.

Thanks in advance for the help.

[2015-10-25 06:24] #96 closed

[2015-11-02 20:00] harryyyyyy opened #97 "ranks in groups"
hi, ive just set up a XML for an arma 3 mil-sim group, i would really like some more customizable features like player ranks and all, can someone please back to me ASAP and tell me if its possible and if so how?

[2015-11-21 16:37] MatschbirneLive opened #99 "Tag and Logo not showing"
Hello
Im using the "armasquads" service to host and edit the squad.xml.
I have some issues that i cant get fixed. I removed every space and dots out of the names.
Remarks and Personal names works just fine but the tag and the Clan Logo is not showing. A other post had a similiar problem and someone said that i should change the logo to this to see if there are enough data in the logo (http://www.w

[2015-11-21 16:46] MatschbirneLive commented on #99
Update: I managed to fix it I wrote my username false *facepalm* if a mod reads this feel free to delete this post

[2015-11-23 07:58] ins0 commented on #99
thanks @MatschbirneLive for showing others how you resolve your problem :+1:

[2015-11-23 07:58] #99 closed

[2015-11-24 19:07] #93 closed

[2015-11-24 19:07] #90 closed

[2015-11-24 19:08] ins0 commented on #97
this is not possible from arma supported features, the only way would be to create 1 xml for each player and use the squad tag for this, but this is not recommended

[2015-11-24 19:08] #97 closed

[2015-11-24 19:09] #82 closed

[2015-11-24 19:09] #80 closed

[2015-12-09 16:48] Alex22331 opened #100 "password reset"
Hi, I am having trouble getting in the website. I can't for the life of me remember my password. Is there a way to reset it?

Email. laldygin00@mail.ru

[2015-12-11 16:38] 2ndLt-Tyr opened #101 "Squad Logo Wont Load"
Whenever I go into game the logo for my squad will not show up on the uniforms nor the map players page.

[2015-12-14 03:16] Brettmccan opened #102 "How to make my logo so it shows up ingame?"

[2015-12-14 20:35] ins0 commented on #100
Hey @Alex22331 can you please ping me by mail. ins0@racecore.de - thanks.

[2015-12-14 20:35] #100 closed

[2015-12-14 20:36] ins0 commented on #102
Hey @Brettmccan could you please provide a little bit more information whats not working eg. you tried so far?

[2015-12-14 22:57] ins0 commented on #101
Please provide more information and your xml url

[2015-12-15 00:13] ins0 commented on #89
if this is still a problem, feel free to comment on this

[2015-12-15 00:13] #89 closed

[2015-12-15 00:13] ins0 commented on #95
if this is still a problem, feel free to comment on this

[2015-12-15 00:13] #95 closed

[2015-12-15 00:13] ins0 commented on #84
if this is still a problem, feel free to comment on this

[2015-12-15 00:13] #84 closed

[2015-12-15 00:16] ins0 commented on #83
Currently i'm working on a better error detection when entering squad informations. Arma is verly strict with characters that are not supported. If this issue is still persistent - please comment and i will look into it.

[2015-12-15 00:16] #83 closed

[2015-12-15 00:18] ins0 commented on #79
If this is still an issue, please comment and i will try to help. Logos that are not displayed ingame is in 90% of all tickets a server side problem.

[2015-12-15 00:18] #79 closed

[2015-12-15 00:18] #78 closed

[2015-12-15 00:18] ins0 commented on #78
Sry for this very delayed answer. If you still need help, ping me by mail > ins0@racecore.de

[2015-12-15 00:20] #74 closed

[2015-12-20 13:15] taylorlpattillo opened #109 "Logo Will not show up"
Hey, so i uploaded a image for my squad 64X64, and in game it will not show up on the vehicle or anything.

http://armasquads.com/user/squads/xml/3eQTeVjPcarvvlG8CjpXoRuF1IiknTHL/squad.xml

There's the squad XML....... I don't really know what to do here...

[2015-12-20 13:21] #109 closed

[2015-12-26 01:49] PrimeAltis opened #110 "Missing SQL tables"
After importing database.sql

[STDERR] PHP Fatal error:  Uncaught exception 'PDOException' with message 'SQLSTATE[42S02]: Base table or view not found: 1146 Table 'squadxml.auth_role' doesn't exist'

Also auth_role_roles & auth_user_role missing and no defined user roles

Is there an updated import available?

Thanks

[2015-12-26 12:46] ins0 commented on #110
yes i will update the db dump in a few minutes - thanks!

[2015-12-26 13:41] #110 closed

[2015-12-26 13:41] #70 closed

[2016-01-14 02:19] KinaroEsh opened #113 "squadmembers"
Hallo,

ich habe akuell das Problem das ich das Logo etc im Arma 3 angezeigt bekomme und mein Squadmember hat die url die ich ihm gegeben habe eingepflegt, aber hier funktionierts nicht. In der erstellten Datei konnte ich auch nur meine ID etc finden..was mache ich falsch'?

gruß

[2016-01-15 07:06] Hvitsen opened #114 "ArmA 3 Squad XML not working"
So I've created a whole squad, everything is saved. But for I and the rest of the squad, the arma squads url doesn't show the picture or information.
http://armasquads.com/user/squads/xml/aknAHP5leqk3idFFLaaNu7vXIwRf21uw/squad.xml'

The image size is 256x256

Image of Squad.dtd: https://gyazo.com/3b033b8e57416efcbaae58ecdb85953e

[2016-01-21 04:16] MLGLYNN commented on #114
Also having this issue.

[2016-01-30 15:11] Sterbinator opened #115 "Cannot change password"
Hey!

Everytime i try to change my password it says: An exception has been raised within the callback

[2016-02-01 07:16] ins0 commented on #115
Hey @Sterbinator will will have a look today!

[2016-02-02 15:57] XylofonKobra414 commented on #115
I've forgotten my Password and I send an Email.... I got no reply so far... even though that was your suggestion in another thread here I could send another one if you want ?! Or you build in a "Forgot your Password?" function

[2016-02-07 18:01] Devkey opened #116 "I forgot my Password"
Hey can you send me a new password? My Username is Devkey.
I dont find the option at your site...

[2016-02-07 18:02] #116 closed

[2016-02-07 18:02] Devkey commented on #116
Sry ging jetzt doch aht wohl einfach gebuggt...^^

[2016-02-10 10:54] kongkaeng opened #117 "ArmA 3 Squad XML not working"
So I've created a whole squad, everything is saved. But for I and the rest of the squad, the arma squads url doesn't show the picture or information.
http://armasquads.com/user/squads/xml/lxFT7x2osK1ccACfiYiKfDfHDJDSH6fJ/squad.xml

[2016-02-21 21:34] darkethan commented on #117
I have the same problem i created the SquadXML and its not working

http://armasquads.de/user/squads/xml/6WppbF53UVt7qZUtltqWi1DQ5Z5WWrfx/squad.xml

[2016-02-21 21:40] darkethan opened #118 "SquadXML not working"
Ich habe eine SquadXML erstellen wollen aber wenn ich den Link bei Arma ins Profil einfüge passiert einfach nichts.

I created a SquadXML but the problem is when i launch Arma and join on a server the XML is not working

http://armasquads.de/user/squads/xml/6WppbF53UVt7qZUtltqWi1DQ5Z5WWrfx/squad.xml

[2016-02-23 10:51] ins0 commented on #117
Hey @kongkaeng @darkethan . I don't own a Arma Server to lookup the server logs and investigate if this is a general problem with the xml files or specific with the details in your xmls. May you can provide  some server logs?

[2016-02-23 10:52] ins0 commented on #118
Bitte entferne die ``_`` aus der XML und versuche es erneut, ich kann leider nichts zum Fehler sagen da Arma nur sehr geringfügig das Debuggen der XMLs erlaubt.

[2016-02-23 18:50] darkethan commented on #118
Das _gehört aber zu meinem Namen
:O

[2016-02-23 20:05] spanky8900 opened #119 "Can't get the image in-game"
Hi,

Some how i can't get my clan logo in-game. I read all the other issues with same problem like deleting special icon like . - $ etc. But didnt work. I even re-uploaded the image and checked everyones player id and names. Any other ideas??

XML:

[code]

[2016-02-23 20:07] spanky8900 commented on #119
<squad nick="Robin">
<name>Hood</name>
<email>N/A</email>
<web>N/A</web>
<picture>07117c2cae202c12406c8e2f6c0f66d6.paa</picture>
<title>Get those bastards</title>
<member id="7656119801841676" nick="Dries">
<name>N/A</name>
<email>N/A</email>
<icq>N/A</icq>
<remark>N/A</remark>
</member>
<member id="76561198039104974" nick="Spanky">
<name>N/A</name>
<email>N/A</email>
<icq>N/A</icq>
<remark>N/A</r

[2016-02-23 20:07] #119 closed

[2016-03-16 15:16] znakzodiak opened #120 "it doesn't work"
[http://armasquads.com/user/squads/xml/NNkVfvJOzRJH19bmkTWFqf6EYB9JQ7mb/squad.xml](url)

[2016-03-16 15:38] znakzodiak commented on #120
I cannot understand why it does not work

[2016-03-22 22:53] DivinityRSPS opened #121 "Squad image is not working"
http://armasquads.de/user/squads/xml/OSSTBqzwvvdXKJirOTmh0jt3GTvKZsYx/squad.xml

My image is not showing up in game, any ideas why? i also tried to resize it, it wont work.

[2016-03-24 16:23] Marco112 commented on #115
where can I reset my password ?

[2016-03-24 16:27] Marco112 commented on #46
wann wird die Passwort zurücksetzfunktion fertig sein ?

[2016-03-25 13:50] Mr-Whale opened #122 "Image PAA not showing to others after respawn / death"
Hey so on a server people could see the image when i joined but after i died no one could see it only myself.

[2016-03-26 18:32] healthstr commented on #121
hello could you show me an image from in game as I can not see an issue here.

[2016-03-26 18:33] healthstr commented on #120
The link you have posted show a 404

[2016-03-26 20:52] DivinityRSPS commented on #121
https://gyazo.com/16b802e3c263ef759fa68d3d60c462f8

[2016-03-27 14:23] citrinase opened #123 "Squad.xml doesn't show up in-game (no information)"
Hello,
This is my squad.xml http://armasquads.com/user/squads/xml/4Oi3WKWSIDZFSkEZ1CVrpt4m4VIY2UXZ/squad.xml
I tried to find the problem on the internet but didnt managed to fix it, i am sure that i dind't missed any step because i was wathcing youtube videos and it seems its simple but still nothing works.
Btw, url addres is in the game, didn't forgot that.
Ty for help, citrinase.

[2016-03-27 14:23] citrinase commented on #123
Oh and server let's you have the squads url's

[2016-03-30 12:37] citrinase commented on #123
I found it out by myself, ty anyway.

[2016-04-01 18:42] PK-IllinoisFIN opened #124 "How to Delete Account/Change it's name"
I would like to change or delete my account so i could create new one with different name.

Reason: I have multiple friends who are playing arma3 and i would like to have account that our admins could use to update players .xml stats.

I have tried to create a new account but it won't allow to have accounts with same Email.

Is there way to change accounts username?

[2016-04-01 19:06] NessMonster opened #125 "No Clan Tag in-game or Squad Logo"
Hello Armasquad.  I Just created a new arma Squad because the old one didnt work.

but when i go in-game there is no Clan tag or Clan Logo.
when i click on my name there is only the Clan name and tittle uknow.

http://armasquads.com/user/squads/xml/2nypD00jlhfcxoGBRbGr4kjATlpiX8c8/squad.xml

[2016-04-01 23:31] healthstr commented on #124
Hello
Currently there is no way to delete or change username on your account, the only way to do this is for a admin to edit the database to change your username. In updates username change or account deletion maybe possible.

[2016-04-01 23:53] PK-IllinoisFIN commented on #124
Requesting account username change. New: 7CavACV

[2016-04-02 01:08] healthstr commented on #124
Whats your current username?

[2016-04-02 01:11] healthstr commented on #115
There is currently no way to reset your password you will need an admin to do it.

[2016-04-02 12:35] PK-IllinoisFIN commented on #124
Profile Details
Illi.H Username
pk-illinois@hotmail.com E-Mail
Mar 31, 2016, 4:49:33 PM Register Date
Apr 2, 2016, 2:34:37 PM Last Login

[2016-04-02 14:42] healthstr commented on #125
from the looks of the XML view everything seems to be fine could you send an email of in game or if there is a debug message.

[2016-04-02 14:45] healthstr commented on #124
At the moment it does not work, work seems to have stop on the project at the moment but I am looking to start working on it.

[2016-04-02 14:45] ins0 commented on #125
Thank you so much for responding to this tickets luke, much appreciate. Dont have much time.

thats the problem with squad xmls - the only debug is server side and not much detailed. Friend of mine tried the xml on his server and everything works fine. So the problem must be serverside or some special type of characters used etc. idk either.

[2016-04-02 14:46] healthstr commented on #125
Yea I have an XML on armasquads and everything seems to working fine.

[2016-04-02 15:00] ins0 commented on #124
@PK-IllinoisFIN
ill change your name.

@healthstr
thanks!

[2016-04-02 15:00] #124 closed

[2016-04-02 15:00] PK-IllinoisFIN commented on #124
Thanks m8!

[2016-04-02 15:01] ins0 commented on #123
@citrinase
Thanks for your reply. Could you please also tell what was the error and the solution?

[2016-04-02 15:01] #123 closed

[2016-04-02 15:02] ins0 commented on #115
@Marco112 please send me an email form your registered email to "rieger@racecore.de"

[2016-04-02 15:38] ins0 opened #126 "Password change raises error"
On password change the following error is raised.

[2016-04-02 18:52] healthstr commented on #122
I don't believe this is an armasquad issue as its just a http request the server for the xml it does not matter if you die or anything in game, any more information on this would be helpful.

[2016-04-02 18:54] healthstr commented on #121
Hello
Im not sure as your image is there and I have also downloaded the image and it works fine, let me know if this still an issue.

[2016-04-07 15:09] MrEddyG268 opened #127 "Unit member left need to reset password"
I had a unit member leave and need to reset a login for the xml. How can I do this? I do not know the login or password. Only the unit.

[2016-04-08 06:20] ins0 commented on #127
Sorry @MrEddyG268 i don't touch existing user accounts without a request from the user who registered the account. Please ask your ex-member to get the details or he should send me an email from his account mail. Otherwise you need to create a new account.

[2016-04-08 06:20] #127 closed

[2016-04-16 10:33] Thyrean opened #128 "Squad.xml not showing image in Arma 2 OA"
Hey!
I just created a squad.xml but the logo and the tag aren't showing up.. I didn't use any forbidden letters.. Any ideas? :/

http://armasquads.com/user/squads/xml/UNx7R0tf3veckocI0HWqzLXVbneU7K83/squad.xml

Edit:
Ingame screenshot: http://puu.sh/okdmq/66df5f0779.jpg

Edit:
Somehow it works now :dancer:

[2016-04-17 22:27] #128 closed

[2016-04-19 20:31] LeerianDark opened #129 "Logo not working"
I know try it like 20 min...
I convert it from png to jpg and again to png and nothing is working...
The Tag is working but when i look under players i just see a empty picture but there is a blank
http://armasquads.de/user/squads/xml/Yf2UlNLdUaiIIA3j2XKLypet5VItONjk/squad.xml
pls help me... this isnt my first one and the other ones are all working

Mfg. Leerian Dark from Germany

[2016-04-22 20:22] healthstr commented on #129
Hello @LeerianDark Sorry it seem your having this issue could share the image with me so I can try replicate the issue my side for debugging.

[2016-04-23 13:21] LeerianDark commented on #129
http://img5.fotos-hochladen.net/uploads/logohd0r264cno.png

 this is the picture try your best.. and thx ^^

[2016-04-24 16:56] TheLeonDemon opened #130 "No Logo on a vehicle"
hey ^^
i see my logo ingame under my name and the squad but no logo in my vehicle...

[2016-04-24 16:57] antoniopaladin opened #131 "Logo/Invisible not working"
Logo is invisible when i try to look at it in arma 3 idk how to fix  can someone help fix the picture or help me  and if someone can fix it and reupload it thanks for any reply
here is the imgur link
http://imgur.com/PaWygFS

squad Xml
http://armasquads.com/user/squads/xml/aCeJrEBCGyu098S7rhjx0IUuAF0DWQ5b/squad.xml
-----------------------------------------------------------------------------------

[2016-04-24 17:01] antoniopaladin commented on #130
i cant see my logo in game or anywhere idk how to fix that aswell

[2016-04-24 17:39] antoniopaladin commented on #131
MANAGED TO GET IT FIXED         IF U HAVE   * IN SQUAD TAG  LOGO DOSENT WORK

[2016-04-24 17:41] antoniopaladin commented on #130
i managed to fix picture dont use any of this in squad tag  / * - ! "# $%&/(().-:;_ or you wont see any logo or picture
maybe it helps

[2016-04-24 19:28] TheLeonDemon commented on #130
@antoniopaladin i dont have one of this in my logo ^^ but thanks

[2016-04-25 21:23] healthstr commented on #131
ok thank you for the feedback :)

[2016-04-25 21:24] healthstr commented on #130
hello could you link your squad xml please

[2016-04-25 21:26] healthstr commented on #129
hello could you remove any special characters from your xml such as / * - ! "# $%&/(().-:;_

[2016-04-26 14:25] TheLeonDemon commented on #130
@healthstr http://armasquads.com/user/squads/xml/9vgbhbS6WJJv3TBC8jAbDrIXI7Gd1EoR/squad.xml

[2016-04-27 06:33] ins0 commented on #131
Thanks @antoniopaladin and @healthstr for providing help and feedback :+1:

[2016-04-27 06:33] #131 closed

[2016-04-27 06:36] ins0 commented on #130
don't see any special characters in your xml, maybe the server won't allow squad xmls? This are squad xmls where i don't know why this sort of stuff won't work by arma clients.

[2016-04-27 08:27] healthstr commented on #130
The only thing I can suggest is create a local server on your computer and test it that way.

[2016-04-27 20:55] LeerianDark commented on #129
thx it worked i delet them all ^^

for all now if you got special characters in your squad xml it workes

[2016-04-28 06:52] ins0 commented on #129
thanks @healthstr for support and @LeerianDark for your feedback :+1:

[2016-04-28 06:52] #129 closed

[2016-05-05 21:15] Windy5000 opened #132 "No Details or Logo"
Hello,

I mainly play on KOTH Hostiletakeover.co servers, followed all instructions for making a squad with no success.

Copy & pasted this into my Arma 3 player profile:
http://armasquads.com/user/squads/xml/7Ow9kp4gqETlj20YTEGeMLujGGikc59T/squad.xml

Do I by chance have to have the files placed locally on my computer? Other players seem to have theirs working fine. Any help is much appreciated!

[2016-05-05 22:02] healthstr commented on #132
Hey, it seems that you have not connected a arma profile to your xml.

[2016-05-05 22:12] Windy5000 commented on #132
Ah ok,

Will update and confirm it works, sorry I didn't know you had to do that.

:)

[2016-05-05 22:28] Windy5000 commented on #132
Apologies, everything seems to be working fine.

[2016-05-09 06:14] ins0 commented on #132
Thanks @healthstr @Windy5000

[2016-05-09 06:14] #132 closed

[2016-05-11 17:19] Glokvar opened #133 "Squad info problem"
Just created a new arma Squad. But when i go in-game there is no Clan tag or Clan Logo.
when i click on my name there is only my member info.

http://armasquads.com/user/squads/xml/vjfALVt8p5GIX14FHJrlr0VcZBWVNIDB/squad.xml

http://s018.radikal.ru/i522/1605/05/e61f6f036fa5.jpg

[2016-05-26 10:23] PeterJaeger opened #134 "No Squadinfo, no Squadpicture"
Hello guys,
I created a squad on your website, but it's not working...

Squad.xml:
http://armasquads.com/user/squads/xml/Oh2QlCyaYFZinnD7TqViEiFyU09fyNcY/squad.xml

Ingame pic:
http://www.fotos-hochladen.net/uploads/arma3error4jltpsy0gu.jpg

It only shows playerinfo I edited in the Squad.xml but there is no squadinfo showing up

Please help me fast!

[2016-05-29 19:02] daniel5121 opened #135 "Logo Picture not showing up"
The logo picture won't show up in game

[2016-05-29 19:23] daniel5121 commented on #135
https://armasquads.com/user/squads/edit/50256

[2016-05-30 21:28] healthstr commented on #135
Hello, Could you link your xml please.

[2016-05-31 03:54] alundy1262 opened #136 "ArmA Squad, only remark is showing for some squad members"
Hello, I have a squad I run with in Arma 3. When in game three members(SuicideKats, Jax, and Keotis) show only the remake and nothing else. When I change their remark it will change in game so I know there profile is connected to armasquad.xml. Here is the the xml file:  http://armasquads.com/user/squads/xml/pR09LUXWstMfLsqbUdjfzdj3mRR0UUk5/squad.xml

[2016-05-31 04:03] alundy1262 commented on #136
http://images.akamai.steamusercontent.com/ugc/271718911516509697/DC72CF53CC334484D486227DE5285F1E9935C233/  This is a picture of SuicideKats profile in game

[2016-06-01 09:38] healthstr commented on #136
Hello under the user SuicideKats there is no data in there name or anything else just there remark which is why you getting this issue.

<member id="76561198031148718" nick="Suicidekats">
<name>N/A</name>
<email>N/A</email>
<icq>N/A</icq>
<remark>When the claws come out</remark>
</member>

[2016-06-01 23:07] alundy1262 commented on #136
OK, so I filled in all of the squads info. The real issue I am having I can get the squad info to show. Here is the my profile in game: http://images.akamai.steamusercontent.com/ugc/264964143179997878/C44706D7892A0C24C346D38F85C1A88640DB01BC/
here is Suicidekats current in game profile: http://images.akamai.steamusercontent.com/ugc/264964143181727279/8BE2347BBC8BE227367B1700CF37050BFD93198F/

noti

[2016-06-01 23:14] alundy1262 commented on #136
here is jax: http://images.akamai.steamusercontent.com/ugc/264964143181753243/31E26F353EBA3F5F0D532C4708C839E83515C0F5/

[2016-06-02 14:23] healthstr commented on #136
Hello, sorry but I don't think this an armasquads issue as it does work with some of your members the only to test this is to host the xml on something like web space or something and test it that way.

[2016-06-02 14:25] healthstr commented on #134
Could you try re-uploading the image it seems that its not on the website.

[2016-06-21 17:18] LtWulff opened #137 "Logo not showing"
Created my squad and the logo should be just fine but it isn't showing on neither vehicle, uniform or playerlist.
Squad url shown below:
http://armasquads.com/user/squads/xml/H4C9QzqxGz5HrraZgFIRX4Iu0b23OltY/squad.xml

[2016-06-22 14:28] ArtyomFR opened #138 "Squad xml broken only on LINUX server since last arma 3 update."
Since the last update our squad.xml is broke.
This is the only error about the squad xml in the server log (on player connection):
[code]
We've experienced some bug with LINUX due to the case sensitibity, I think this isn't more.

[2016-06-22 14:42] ins0 commented on #138
Hey @ArtyomFR this is kind of odd because the error says he can parse the tag ``html`` but there is no ``html`` string withhin the xml itself.

Any ideas what this error referred to?

[2016-06-22 15:51] TheToRN opened #139 "SQUAD Logo Not displaying due to website URL"
First thanks to devs for the site, much appreciated.

I had an issue where by the squad system was not working, this was due to the URL for the website specified on the Squad info.

Our Arma server was showing errors

17:34:40 Warning: Could not parse squad.xml for Player[TheToRN], Squad[http://armasquads.com/user/squads/xml/................./squad.xml]

Once i removed the URL for the website the

[2016-06-23 06:12] ins0 commented on #138
@ArtyomFR do this #139 maybe work for your case too?

[2016-06-23 06:14] ins0 commented on #139
Hey @TheToRN thank you very much for this information. Currently i can't indicate why this error is generated, if i get another confirmation about this one i will take action and remove the url temporary.

[2016-06-23 16:25] ArtyomFR commented on #138
Doesn't work for me (same error), i still think this is an case sensitivity problem cause the squad xml work on windows server (both local and net). but doesn't work on any linux server. All the bugs that with ever experienced like that have case sensitivity trubles.

[2016-06-24 06:22] ins0 commented on #138
Could you please test it with a copy of your xml and all lowercase letters in your url or should i assist you can provide one? can't test by myself :(

[2016-06-24 06:26] ins0 commented on #138
The Problem is encountered was that linux often follow strict case sensitive rules where windows works with both. So if you enter your xml correct, there should be no sensitive error, the path is correct.

[2016-06-24 06:29] ins0 commented on #138
Or could you try to strip information from the xml and maybe look if something is broken because of letters like ``é`` or ``'`` in your xml. Bohemia only suggest non special characters so the  character ``'`` in your xml could be part of the problem.

[2016-06-24 06:32] ins0 commented on #138
The other thing i notice is that the Player ``Reaper`` is not in the xml itself.

[2016-06-24 09:45] ArtyomFR commented on #138
OK, I have test to remove all letters like é or else (in squad xml general informations and my personal informations for the player Artyom) but nothing change. I have lowercase the squad URL, don't work.
i also have check the configuration of my server, XML are allowed. Maybe something that we can't do anything about it?

[2016-06-24 09:55] ins0 commented on #138
It is a pain in the a** that bohemia don't deliver some proper logs to debug this shit :sob:
Maybe we can't do anything, maybe there is some other characters that messing all up.

I will try to tweet some dev, with hope we get some help in this case.

[2016-07-03 18:56] PK-IllinoisFIN commented on #126
It has been like that for months

[2016-07-03 22:02] ins0 commented on #126
Thank you @PK-IllinoisFIN for bringing this up again, it is now fixed!

[2016-07-03 22:02] ins0 commented on #115
fixed with pull #140

[2016-07-03 22:02] #115 closed

[2016-07-12 04:15] velvetelvis77 commented on #46
Hi ins0, been using armasquads for quite some time now, very satisfied, however I need help as to the recovery of my password, sent you an email earlier about account details such as email used for registration and squad name. Thank you and best regards.

[2016-07-22 06:33] TH3GamingBanana opened #141 "An error occurred"
when i add more that two people it displays
"and error occurred an error occured during execution; please try again later

[2016-07-25 00:56] Kaynasty opened #142 "Squad XML completely not working"
Probably user error, but I have checked everything like ten times now and its still not working. Am I doing something wrong?
http://armasquads.com/user/squads/xml/PsNwont2uVe2DvQtlrgAiDKbh1zANAce/squad.xml

[2016-07-25 23:31] Wuler opened #143 "Squad XML not working at all"
I can't get this to work, not showing up at all, tried doing it for all profiles, tried changing things, tried making a completely new squad and it won't work whatsoever.

http://armasquads.com/user/squads/xml/iIuEg6Nhm6ey88csvm6hwvgIaOx80b5C/squad.xml

[2016-07-31 21:12] ins0 commented on #141
sure you don't try to add two identical ids to one squad xml?

[2016-08-25 18:07] Senbonzakura123 opened #144 "Picture is not shown ingame"
the squad URL is http://armasquads.de/user/squads/xml/uwIdfKxvS0J4aWE9poI03RItTz27NXAo/squad.xml

The pic wont show up

[2016-08-25 20:41] #144 closed

[2016-09-23 17:31] icebox84 opened #145 "xml not working with apex update 1.64"
My patch shows up on my shoulder. and my tag shows up next to my name. But no info is on my player Info, on the players section in the map. Worked before the update for apex yesterday of 5 gigs. Now after the update, xml on armasquads.com not working correctly. I updated my player id and put new xml link to profile, restarted, defraged or tried to defrag my ssd. Still same problem exist.

[2016-09-29 18:59] Roumenn opened #146 "Password recovery to ArmAsquads.com"
Hi, I forgot my password to my arma 3 squad and there is no recovery option. Could you help me with that pls?

[2016-10-02 21:53] ghost opened #147 "I Forgot My Password"
I Forgot My Password And There Is No Where To Reset It.

Can You Help Me? Thanks.

[2016-10-10 01:06] BetterDeadThanZed commented on #145
This is also happening to me. Any advice? Is it broken?

[2016-10-11 07:25] ins0 commented on #145
Will have to look at this issue tonight when i'm back home. Thanks for the report guys.

[2016-10-11 22:30] icebox84 commented on #145
thanks buddy, i will donate too you this friday if the problem is resolved.

    On Tuesday, October 11, 2016 2:25 AM, Marco Rieger <notifications@github.com> wrote:

 Will have to look at this issue tonight when i'm back home. Thanks for the report guys.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-10-27 22:34] Yoshod opened #148 "XML Not Working At All"
I've got all my XML forms set up and when I go in game I get the tag appearing next to my name but that's all:
http://armasquads.com/user/squads/xml/u1v0u68YXYxWyu4qK7YJhtRC3XURbw7V/squad.xml

http://imgur.com/7sqLcRQ

Any help would  be appreciated.

[2016-10-28 01:39] BetterDeadThanZed commented on #145
Did you have a chance to look into this? Only the tag/logo is working. Nothing else.

[2016-10-28 01:39] BetterDeadThanZed commented on #148
https://github.com/ins0/armasquads/issues/145

[2016-10-28 01:40] BetterDeadThanZed commented on #143
https://github.com/ins0/armasquads/issues/145

[2016-10-29 01:47] EvilAnimal commented on #46
I'm having the same issue. I tried to open a new account using the same email address and the new account will not work. If you see two accounts with my email and we can reset the password on the old account then just delete the new account please.

[2016-10-30 21:43] genaDeus commented on #138
This error happens because of hosting http gzip compression on. If the hoster can change this for you fine otherwise you'd write to bis dev to process gziped content better. Or at least to specify Accept-Encoding when creating a request.

[2016-10-31 14:02] ins0 commented on #138
@genaDeus thanks man! i will remove gzip comression and will report here.

[2016-11-03 11:37] healthstr commented on #146
Hello, please send @ins0 an email from your registered account email to ins0@racecore.de he will send you afterwards the temporary account password

[2016-11-03 11:37] healthstr commented on #147
Hello, please send @ins0 an email from your registered account email to ins0@racecore.de he will send you afterwards the temporary account password

[2016-11-06 19:47] ins0 commented on #138
@ArtyomFR @genaDeus @multplaneta

So i disabled GZIP compression at all, may someone can check if this solve this unsupported html tag problem?

[2016-11-13 09:24] slymnonr53 opened #149 "I Forgot My Password"
I Forgot My Password Can You Help Me? Thanks.

[2016-11-24 12:36] healthstr commented on #149
Hello @slymnonr53 , please send @ins0 an email from your registered account email to ins0@racecore.de he will send you afterwards the temporary account password

[2016-11-25 08:05] slymnonr53 commented on #149
merhaba ben slymnonr53 şifre almak için rahatsız ediyorum

2016-11-24 15:36 GMT+03:00 Luke Sinclair <notifications@github.com>:

[2016-11-25 11:17] healthstr commented on #149
Sorry I don't understand you. The main issue is there is currently no way for anyone else to reset your account password then @ins0 at this moment in time.

[2016-11-25 11:22] slymnonr53 commented on #149
Şifre Beni yeni şifre göndermek için unuttum

2016-11-25 14:17 GMT+03:00 Luke Sinclair <notifications@github.com>:

[2017-01-01 22:56] ArminDTC opened #150 "XMl not funktion With All member"
Questions Is all

[2017-01-02 15:59] ins0 commented on #150
Hey @ArminDTC can you provide any information or server logs from the gameserver where the squad xml is not working? Otherwise i have to close this issue as without any error messages we can't determine the exact issue.

[2017-01-02 16:42] ArminDTC commented on #150
With 6 members it goes. In other 3 but not

[2017-02-05 16:26] MGG-2 opened #151 "xml not working with apex update"
Picture is not showing in-game, need help m8?

[2017-04-22 16:31] DoG67 opened #152 "Forgotten Password for ArmaSquads.com"
Him i had to reinstall Windows and have not logged my password, my email is JAMESLOGAN1970@LIVE.CO.UK if anyone can help with resetting this for me as there is no password recovery option/

Jim

[2017-04-29 08:55] MrEnz0 opened #153 "Lost password and name."
Hi.
I had to reinstall my c-drive so I lost my password and name to your site.
I have send a message to ins0@racecore.de about it. How long does it take before you get a responde?

Thanks in advance.

[2017-05-06 11:06] MrEnz0 commented on #153
So there is noone one this any more or what? Has anyone got this thing fixed?

[2017-06-27 10:04] CalliDaBanana opened #155 "Edit rights for more than 1 person."
Hello, today I found out that only one Person can edit a Squad, but things are changing every day.
A good friend of me left our Squad, but he managed it for so long, and now we must make a new XML with all People (over 20) with all the little notices.
I think an option to give a XML to an another Person would be really cool, or that more than one Person got rights to edit a Squad. :)

Thanks and S

[2017-08-06 15:23] PimpStar opened #156 "Lost password."
Hi, is quite a lot of time that i do not hit armasquad and i had forgot my password... can you do something?

Account name is Pimp.Star

[2017-09-02 22:26] Input-BDF commented on #138
Hej there. Ran into the same issue. For me it was not gzip. Disabeling it did not help, but a web-checker brought me to the right direction:
Under my squad.xml domain is also our clanpage running. Within .htaccess there is a redirect from http to https. Result.... arma gets something like this under Linux:
[code]

So it can't get the xml by itself.

Seems that Windows is following this Redirect bu

[2017-09-02 23:19] ins0 commented on #138
@Input-BDF the squad url is excluded from forcing https. So i think this can't be the problem?!

[2017-09-03 03:45] Input-BDF commented on #138
After adding the RewriteRule as mentioned above to .htaccess the squad.xml is reachable via http and https. Tested both as source in player profile.
Think it's more the way dedicated server under linux or the machine itself handles 301 redirects stated via .htaccess. I'm not totally in htacces and this little bast... is all the time a pain in the a.. for me.

Reproduced the issue and my solution w

[2017-09-03 08:33] LEG-it opened #157 "Unable to add additional user names to with same UID"
Hi Guys,
I am unable to use 1 UID with multiple player names. when I try to save user i get a error message.

[2017-10-15 12:31] kim666166 opened #158 "Squad logo is not showing up"
when i open zeus in game, it has an error message like 'Cannot load texture c:\users\mycomputer\appdata\local\arma 3\squads\udt/seal\15f0e9a2c01b8c37701f1c2181be11a5.paa.'.

i already tried 16x16, 32x32, 64x64, 128x128 and 256x256.. .but it still dont work...

[2017-10-15 12:33] kim666166 commented on #158
http://armasquads.com/user/squads/xml/0WKJTqaHzTACwAMITPjaEuz3OSpjaS6Z/squad.xml

[2017-12-12 11:08] Jarrer opened #159 "24TH.TMT"
![background_default_arma3](https://user-images.githubusercontent.com/34443306/33881357-83a741ec-df6f-11e7-9df2-5014429d6249.png)

![logo](https://user-images.githubusercontent.com/34443306/33881358-841d7592-df6f-11e7-85e0-ea0c67702290.png)

ckground_default_arma3](https://user-images.githubusercontent.com/34443306/33881357-83a741ec-df6f-11e7-9df2-5014429d6249.png)

![logo](https://user-images.git

[2017-12-12 11:22] Jarrer opened #160 "This XML file does not appear to have any style information associated with it. The document tree is shown below."

[2017-12-14 18:32] artwashere opened #161 "No function to change login e-mail adress"
It would be nice if there would be a function to change the e-mail adress for login. it´s possible to change the password but not the e-mail. if you guys can add this it would be great.

[2018-01-05 00:50] eagle2532 opened #162 "The Squad logo isnt showing up (In game)"
the rest of the info is but just not the picture or the patch.
http://armasquads.com/user/squads/xml/06IWZIqmO3igCuuMF0gZIynU2IFt6LuS/squad.xml

[2018-02-18 19:46] 4HCcrashh opened #163 "Logo is not showing in Arma 3 Game"
My squad name and motto appear in the game but the patch does not load.

This is my URL.

http://armasquads.com/user/squads/xml/uHLCkmgJfgaeobndas1Yof6VKa1N4nws/squad.xml

As an experiment I had a squad that was working fine. I took the logo from the old squad and assigned it to this new squad.  It did not show up in game as well.

Thank you for any assistance.

[2018-02-25 15:00] Landbergaren commented on #156
Ye there is no feature to fix your password if you have forgotten it.

[2018-03-16 12:02] 4HCcrashh commented on #163
If you need more donations you could start with response to issues we are posting?

[2018-03-16 12:16] 4HCcrashh opened #164 "Where are the people in charge here?"
Still no answers to questions posted in this forum concerning squad logos not working in Arma3.

Who is in charge here?

[2018-03-16 12:17] 4HCcrashh commented on #163
Old squad logo still works..  Any new versions of the logo or new squads created do not work.

[2018-04-03 16:11] Landbergaren commented on #161
how do you change password? I see no such button

[2018-04-04 17:58] Bloodyharry opened #165 "Moin moin habe ein problem mit dem logo"
http://armasquads.de/user/squads/xml/VG5OC7jMVg4wqNVex35l2SazxYB2SxZw/squad.xml

[2018-04-04 18:04] Bloodyharry opened #166 "Geht nicht brauch support danke"
moin moin habe probleme mit dem logo hab alles so gemacht wie gewonnt aber ich seh kein logo gar nichts kein clan name nichts kan mir einer weiter helfen danke im voraus
http://armasquads.de/user/squads/xml/VG5OC7jMVg4wqNVex35l2SazxYB2SxZw/squad.xml
hab auch meine IP und alles bei meinem profil eingegeben

[2018-05-24 21:30] ins0 commented on #165
Without more information, i will close this. Feel free to reply and open this issue again.

[2018-05-24 21:30] #165 closed

[2018-05-24 21:31] ins0 commented on #166
Without more information, i will close this. Feel free to reply and open this issue again.

[2018-05-24 21:31] #166 closed

[2018-05-24 21:36] ins0 commented on #164
i am. most of the issues are "not working" questions without any information that helps to investigate the issue - as for proper investigation the server operator (where the logo is not showing up) musst provide debug information. without this, i can't do much about it as:

- bohemia provide rare information about using and providing squad xmld
- there are only a few debug information for server o

[2018-05-25 10:21] ins0 commented on #163
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 10:21] #163 closed

[2018-05-25 10:21] ins0 commented on #162
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 10:21] #162 closed

[2018-05-25 10:21] ins0 commented on #160
Closed to lack of information. Feel free to open this issue again

[2018-05-25 10:21] #160 closed

[2018-05-25 11:18] ins0 commented on #159
Feel free to open this issue again with more information.

[2018-05-25 11:18] #159 closed

[2018-05-25 11:19] ins0 commented on #158
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 11:19] #158 closed

[2018-05-25 11:21] ins0 commented on #157
This is currently limit due to the database design. Not that hard to implement but the conversation from allready existing data is a bit tricky.

[2018-05-25 11:21] #156 closed

[2018-05-25 11:22] #153 closed

[2018-05-25 11:24] #151 closed, assigned to nobody

[2018-05-25 11:25] #145 closed, assigned to nobody

[2018-05-25 11:25] ins0 commented on #147
There is currently no reset login feature implemented. Feel free to help and/or develop this feature.

[2018-05-25 11:25] #147 closed

[2018-05-25 11:26] ins0 commented on #146
There is currently no reset login feature implemented. Feel free to help and/or develop this feature.

[2018-05-25 11:26] #146 closed

[2018-05-25 11:26] #143 closed

[2018-05-25 11:26] ins0 commented on #141
https://github.com/ins0/armasquads/issues/157

[2018-05-25 11:26] #141 closed

[2018-05-25 11:27] #139 closed

[2018-05-25 11:28] ins0 commented on #137
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 11:28] #137 closed

[2018-05-25 11:29] ins0 commented on #136
Closing this. Feel free to open this issue again.

[2018-05-25 11:29] #136 closed

[2018-05-25 11:29] ins0 commented on #135
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 11:29] #135 closed

[2018-05-25 11:30] #134 closed

[2018-05-25 11:31] #133 closed

[2018-05-25 11:31] ins0 commented on #130
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 11:31] #130 closed

[2018-05-25 11:31] #125 closed

[2018-05-25 11:31] ins0 commented on #121
I updated the paa conversation, maybe this help - try if this works better now. Feel free to open this issue again.

[2018-05-25 11:31] #121 closed

[2018-05-25 11:32] ins0 commented on #122
Closing this issue. Feel free to open it again if the error is still present.

[2018-05-25 11:32] #122 closed

[2018-05-25 11:32] #120 closed

[2018-05-25 11:32] #118 closed

[2018-05-25 11:32] #117 closed

[2018-05-25 11:33] #114 closed

[2018-05-25 11:33] #113 closed

[2018-05-25 11:33] #102 closed

[2018-05-25 11:33] #101 closed

[2018-05-25 11:34] ins0 commented on #86
https://github.com/ins0/armasquads/issues/157

[2018-05-25 11:34] #86 closed

[2018-05-25 11:34] ins0 commented on #75
https://github.com/ins0/armasquads/issues/157

[2018-05-25 11:34] #75 closed

[2018-05-25 11:35] #54 closed

[2018-05-25 11:50] #7 closed

[2018-06-06 08:24] xdryze opened #169 "why is squad logo not showing for me?"
ok let me make this shorter;i made custom squad logo at 256x256,and saved it as .png
also my squad dosnt have any "." in itself,yet squad logo is not showing,what  did i make wrong? could someone help me get icon atleast working?

[2018-06-17 19:00] 4HCcrashh opened #170 "PAA files will not download.."
Ok for me this is the issue.     Now the download button does not does not work to get my paa file. .

Reports
An error occurred

An error occurred during execution; please try again later.

[2018-06-17 19:02] ins0 commented on #170
let me have a look

[2018-08-12 03:52] Lanterna2000 opened #171 "The image logo do not show for me in game"
Hello guys
I'm having a problem creating my squadxml
I can complete the inscriptions until the abbreviation of the squad appear in my nickname within the game but does not appear the logo that I am loading on the site.
I already in the dimensions 64x64, 128x128 and 256x256 and do not appear.
Can someone help me?

[2018-09-12 01:39] Reaptard opened #172 "XML No longer Working....."
So I made an image that met the requirements, successfully uploaded it. Added myself as a member, filled out the ID info, Added my in game profile name (Spelt exactly as in game) and the other details.  Launched  game, successfully loaded into my server and saw all the info and image on my character.

I then Noticed the "N/A" above the XML info, so i shut down my game and went back to the website

[2018-09-17 15:41] Strike-Eagle commented on #172
same here, no longer working since yesterday, any idea why?

[2018-09-17 18:38] Reaptard commented on #172
Open no idea, hoping someone here would be able to assist fixing the issue.

[2019-01-08 16:19] SRRSOF opened #173 "Forgot password from armasquad account"
I forgot the password from the armasquad account after it was changed. Password change occurred on October 26th. Mail account monolit261997@mail.ru. Is it possible to recover an account?

[2019-05-12 10:55] 9th-TF opened #174 "Unable to submit creation request"
![001](https://user-images.githubusercontent.com/50526599/57581262-8c340e80-74e7-11e9-846f-cbbe516a35b7.jpg)

[2019-07-19 04:41] SirLagALot17 commented on #174
Having the same issue could someone please find out why this is happening please.

[2019-07-19 17:31] por-ter commented on #174
+1

[2019-07-19 17:54] ins0 commented on #174
Thanks for the Report guys, should be fixed! 👍

[2019-07-19 17:54] #174 closed

[2019-08-05 14:08] Nitro3000dk opened #175 "armasquads pass"
how do i get a new password i forgot it ?

[2019-10-14 16:47] mwpowellhtx opened #176 "I want to change my email"
How do I change my email? Or my user name for that matter? Thank you.

[2019-10-25 17:27] alexrainbowcookies opened #177 "Jquery issue on "Create my first squad" button"
When clicking on the button in the site, shows me the following error in Console:

`jquery.modal.js:1 Uncaught TypeError: Cannot read property 'fadeOut' of undefined
    at a.modal.unblock (jquery.modal.js:1)
    at a.modal.close (jquery.modal.js:1)
    at Function.a.modal.close (jquery.modal.js:1)
    at new a.modal (jquery.modal.js:1)
    at m.fn.init.a.fn.modal (jquery.modal.js:1)
    at HTMLAn

[2019-11-16 17:05] EM-Creations commented on #171
I have the same issue..

[2019-12-07 20:07] grumbulon opened #178 "Logo not showing in game"
I got the tag showing up, but there is a blank space where the logo would be. I'm guessing the .PAA needs to be adjusted?

http://armasquads.com/user/squads/xml/Hgho3VRrxNUTPxIwYsgjJVcmJmD79BtK/squad.xml

[2019-12-07 21:27] grumbulon commented on #178
Looks like it works now. I believe you just need to give it an hour.

[2019-12-07 21:27] #178 closed

[2020-01-31 21:10] raider99zz opened #179 "ArmaSquad doesnt work"
I created a squad and added members like normal, If i copy the XML link and paste it into my browser i get the error:

image size: 256pxx256px

" An error occurred
An error occurred during execution; please try again later. "

Also in Arma the XML isnt working. Is there a problem with ArmaSquad?

[2020-02-01 11:51] ins0 commented on #179
Thanks for letting me know. Fixed the error and should now work as intended. 👍

[2020-02-01 11:51] #179 closed

[2020-04-06 19:34] radioactivetux9 opened #180 "Add squad member bug"
Can’t add 2 off the same player to squad one for admin account and one for player account arma 2

[2020-04-17 11:43] ins0 commented on #177
ty i removed the popup as it was outdated and no longer in use

[2020-04-17 11:43] #177 closed

[2020-04-19 14:06] R353T opened #181 "Problem squad"
Welcome.
 I have a problem displaying the squad in the game. After your update, it doesn't show me anything. I tried to start everything from scratch, but it doesn't work. Please help. Before, everything was ok.

[2020-04-21 14:12] Aussie602 commented on #181
Hi R353T I just have the same Problem 4 days now . Did you got a support nobody answer my mails

[2020-04-23 15:40] TheUsforcer opened #182 "Arma Squads ist not Working?"
The Site ist unavaible.
Is Armasquads down, oder only an Issue?

Greetings

[2020-04-25 18:05] Sheppard85oc commented on #182
I have it too, on my Linux Server dont worked more since days.

[2020-04-26 13:05] ins0 commented on #182
Please try and use `https` instead of `http` within your squad xml url. so please change

`http://armasquads....` to `https://armasquads....`

[2020-04-26 13:05] ins0 commented on #181
please look here https://github.com/ins0/armasquads/issues/182

[2020-04-26 13:05] #181 closed

[2020-04-26 14:21] Sheppard85oc commented on #182
I have it try and still used old link but replaced hattp -> to https and at the moment its dont work, Its something more maybe my link broken for my unit?

[2020-04-26 15:38] ins0 commented on #182
@Sheppard85oc are the complete squad details not shown ingame or just the logo?

[2020-04-26 16:26] Sheppard85oc commented on #182
The complete squad details will not show. No Infos no Logo.

[2020-04-27 11:15] Aussie602 commented on #182
I am playing Arma 2 and I also have all this Problems i am not owner of a Server . I am just a user of it . I try all this http://   https://  also nothing ....It dosen't work anymore so what is the problem how we can fix it? Isit a problem of armasquad xml or a worldwide server problem after armasquad xml change server????
Is there an official statement from the owner of armqsquad xml out ??? Sti

[2020-04-27 11:55] ins0 commented on #182
i'm the owner of armasquads, so what statement do u want to hear?

@Sheppard85oc
sry the stupid question but what is a unit server? i'm currently not playing arma so can u light me up? So the XML is showing when u run a locally server, but not online (your local is an unix debian system and the one where it wont work is a windows?

[2020-04-27 16:12] Sheppard85oc commented on #182
@ins0 No you get it wrong i try it to make esay but my english its bad...so
With Unit Server i mean the Clan Server where i play (Milsim) and thats its a Linux Debian root server there its it not Work = No Logo and no Infos of that xml anymore to see since the New Server.

On my Local server (win 10) Arma -> Editor ->set Player -> start in MP Modus  there i can see all Infos and logo of the XML. =

[2020-04-27 23:22] Aussie602 commented on #182
@ins0   Marco ich möchte einfach wissen wo das Problem ist wir alle hier versuchen das und jenes nur das kann es ja nicht sein nichts funtzt. Es war alles ok bis Du den Server gewechselt hast seid dem sind die Probleme eben da. So wie auch alle anderen das mir bestätigen. Als Anwender verstellen wir machen neu achten auf das und jenes und es funktioniert nicht. Bezogen auf das Statement wollte ich

[2020-05-01 00:10] Sheppard85oc commented on #182
Hello
I became interested in whether this is really an OS system problem or whether it is something different or whether this is due to the new server or the https thing and how its can be fixed.
@ins0 i see you are German too, is it allowed to write in German for Bug reports?

[2020-05-07 00:36] secbug opened #183 "Armasquads Continuous Downtime"
Armasquads seems to be going down for longer and longer periods sooner and sooner. The site doesn't seem to be experiencing a DOS since responses are instantaneous, however the site continues to report 500 errors. The main site, the API, http, https. Going to pages/changing protocols does nothing.

This is actually taking down arma servers since some arma servers will sit and wait on requests unti

[2020-05-18 09:00] ins0 commented on #182
@Sheppard85oc sure thing.

https://feedback.bistudio.com/T80864
Looks like after 5 years someone from bohemia is investigating this issue

[2020-06-02 22:39] Sheppard85oc commented on #182
Okay i will wait for that :D

[2021-11-14 16:31] TeflonnDon opened #189 "Photo not showing"
Having an issue with the photo not showing up in-game on Arma 2. Everything else shows up just fine like the remark, squad name, website, but the photo doesn't. Any advice or tips would be great. thanks

[2021-11-16 16:20] #189 closed, assigned to nobody

[2022-09-01 22:44] mwpowellhtx opened #190 "Q: Changing credentials"
Is there a way to change my creds? User name? Password? Email address is a biggie; I've got a squad there I want to move over to a newer email address from a now defunct email address. Thank you...